<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 200px;height: 200px;background-color: pink;">
    <svg
            style="overflow: hidden; position: relative; left: -0.5px;">
        <path class="ring" stroke="#fd30ae" d="M54,7 A47,47,0,1,1,11,71" stroke-width="4" />
<!--        <path class="ring" rate="50%" fill="none" x="54" y="7" r="47" stroke="pink" d="M54,7 A47,47,0,1,1,11,71" stroke-width="4" />-->
    </svg>
</div>

</body>
</html>