*.idea
node_modules/
.vscode
.history
.log
*.gzip
components/Upload/uploads/*
!components/Upload/uploads/README.markdown
.stylelintcache
test/unit/coverage
examples/dist
.DS_Store
.DS_Store?
lib/
yarn*
# cmd generate file
components.json
src/styles/themes/theme/src
src/index.js