.kd-input
    display inline-block
    width 100%
    vertical-align middle
    .kd-wrapper
        display inline-block
        width 100%
        position relative
    .kd-inner
        display inline-block
        position relative
        width 100%
        outline none
        border $-input-border
        background-color $-input-bg-color
        transition border $transition, background $transition, box-shadow $-transition
        &:focus
            border $-input-focus-border
            z-index 1
    .kd-prefix
    .kd-suffix
        position absolute
        top 50%
        transform translateY(-50%)
        z-index 2

    &.kd-group
        display table
        .kd-prepend
        .kd-append
            display table-cell
            width: 1px
            vertical-align middle
            background-color $-input-group-bg-color
            border $-input-border
            text-align center

    &.kd-disabled
        color $-input-disabled-color
        cursor not-allowed
        .kd-inner
            color $-input-disabled-color
            border-color $-input-disabled-border-color
            background-color $-input-disabled-background-color
            cursor not-allowed

    .kd-textarea
        padding $-input-textarea
        height auto
        line-height 1.5

    for size in $-input-size-list
        &.kd-input-{size}
            font-size lookup('$-input-' + size + '-font-size')
            .kd-inner
                height lookup('$-input-' + size + '-inner-height')
                line-height lookup('$-input-' + size + '-inner-height')
                font-size lookup('$-input-' + size + '-font-size')
                padding 0 $-input-padding-left-right
