@import "../variables.styl";
.k-messages
    position fixed
    top  .714285714285714rem
    width 100%
    pointer-events none
    z-index 100000000
    .fade-enter-active
    .fade-leave-active
        transition opacity .4s
    .fade-enter
    .fade-leave-to
        opacity 0
    .k-message

        width 100%
        .k-container
            min-height 40px
            width 400px
            margin 0 auto
            position relative
            padding-left 24px
            background-color #FFFFFF;
            box-shadow 0 0 8px 0 rgba(52,57,87,0.20)
            border-radius 2px
            pointer-events all
            .k-content
                display inline-block
                padding 10px
                vertical-align middle
                word-wrap break-word
                word-break break-all
                white-space pre-wrap
            &>.ksicon
                position absolute
                left .714285714285714rem
                top .4rem
    .k-warning
        .k-container
            .ksicon
                color #ffad37
    .k-success
        .k-container
            .ksicon
                color #4FCC6F
    .k-error
        .k-container
            .ksicon
                color #EF6A77
