@import "../variables.styl";
@import '../../common/mixin.styl'

$-btn-border-types := default dashed
$-btn-types := primary success warning danger
$-btn-size-types := large small mini
$-btn-text-types := none text
$-btn-gradient := $-btn-type == 'gradient'


.kd-btn
  position relative
  padding $-btn-default-padding
  font-size $-btn-default-font-size
  cursor pointer
  border-radius $-btn-border-radius
  line-height 1
  border 1px solid $-btn-default-border-color
  color $-btn-default-color
  
//  border的类型
for border in $-btn-border-types
    .kd-btn-{border}
        background $-btn-default-bg
        color $-btn-default-color 
        border-style lookup('$-btn-'+ border +'-border-style')
        &:hover
        &:focus
            color $-btn-default-hover-color
            background $-btn-default-hover-bg-color
            border-color $-btn-default-hover-border-color
        &:active
            border-color $-btn-default-active-border-color
            background $-btn-default-active-bg-color
            color $-btn-default-active-color

    .kd-btn-{border}.kd-btn-hollow
        background transparent
        border 1px solid $-btn-border-color
        color $-btn-default-color
        &:hover
        &:focus
            border 1px solid $-btn-hollow-hover-border-color
            color $-btn-hollow-hover-color
            if $-btn-gradient
                background $-btn-default-hover-bg-color
        &:active
            color $-btn-hollow-active-color
            if $-btn-gradient
                background $-btn-default-active-bg-color
    .kd-btn-{border}.kd-btn-disabled
        background $-btn-disabled-bg-color
        border-color $-btn-border-color
        color $-btn-disabled-color
    
//4种状态
for type in $-btn-types
    .kd-btn-{type}
        background lookup('$-btn-'+ type +'-color')
        color $-white-color
        if $-btn-gradient && type == "primary"
            border none
            span
            i
                display inline-block
                padding 1px
        else
            border 1px solid lookup('$-btn-'+ type +'-color')
        &:hover
        &:focus
            background lookup('$-btn-'+ type +'-hover-bg')
            border-color lookup('$-btn-'+ type +'-hover-border')
        &:active
            background lookup('$-btn-'+ type +'-active-bg')
            border-color lookup('$-btn-'+ type +'-active-border')
    //空心
    .kd-btn-{type}.kd-btn-hollow
        background transparent
        color lookup('$-btn-'+ type +'-color')
        if $-btn-gradient && type == 'primary'
            border 1px solid $-btn-default-border-color
        else
            border 1px solid lookup('$-btn-'+ type +'-color')
        &:hover
        &:focus
            background lookup('$-btn-hollow-'+ type +'-hover-bg')
        &:active
            background lookup('$-btn-'+ type +'-color')
            color $-white-color
    .kd-btn-{type}.kd-btn-disabled
        background $-btn-disabled-bg-color
        border-color $-btn-border-color
        color $-btn-disabled-color

//  text types
for textItem in $-btn-text-types
    .kd-btn-{textItem}
        padding 0
        background transparent
        border-color transparent
        color lookup('$-btn-'+ textItem +'-color')
        &:hover
        &:focus
            color lookup('$-btn-'+ textItem +'-hover-color')
        &:active
            color lookup('$-btn-'+ textItem +'-active-color')
    .kd-btn-{textItem}.kd-btn-disabled
        color $-disabled-color
//  加载
.kd-btn-loading
    pointer-events none
    user-select none
    &:before
        content ""
        position absolute
        top -1px
        left -1px
        bottom -1px
        right -1px
        border-radius $-btn-border-radius
        background rgba(255,255,255,0.3)
.kd-btn-loading-icon
    // i
    display inline-block
    transform-origin center
    animation kd-btn-loading-dash 1s linear infinite
//size
for s in $-btn-size-types
    .kd-btn-{s}
        padding lookup('$-btn-'+ s +'-padding')
        font-size lookup('$-btn-'+ s +'-font-size')
        [class*=kd-icon]
            font-size lookup('$-btn-'+ s +'-font-size')
    .kd-btn-circle.kd-btn-{s}
        padding lookup('$-btn-'+ s +'-circle-padding')
    
    
.kd-btn-disabled
  color $-disabled-color
  cursor not-allowed

.kd-icon-left
    margin-right $-btn-icon-text-gutter
.kd-icon-right
    margin-left $-btn-icon-text-gutter

//shape
.kd-btn-circle
    border-radius $-btn-shape-circle
    padding: $-btn-default-circle-padding
.kd-btn-round
    border-radius $-btn-shape-round

.kd-btn-split
    padding $-btn-split-padding

@keyframes kd-btn-loading-dash {
    100%{
        transform-origin center
        transform: rotate(360deg)
    }
}