@import "../variables.styl";
@import '../../mixin.styl'

$-btn-border-types := default dashed
$-btn-types := primary success warning danger
$-btn-size-types := large small

width = $-spin-stroke-width
r = 120 - 60 - (width / 2)
c = round(2 * 3.14 * r)


.kd-btn
  position relative
  padding: 9px 16px
  font-size: 12px
  cursor: pointer
  border-radius: $-btn-border-radius
  line-height 1
  border 1px solid $-btn-default-border-color

//  默认状态
for item in $-btn-border-types
    .kd-btn-{item}
        background-color: $-btn-default-bg
        color: $-btn-default-color
        border-style lookup('$-btn-'+ item +'-border-style')
        &:hover
        &:focus
            color $-btn-primary-color
            border-color $-btn-primary-color
        &:active
            border-color: $-btn-primary-color
            background-color: palette($-btn-primary-color, -3)
            color: palette($-btn-primary-color,1)
        .kd-btn-loading-icon 
            circle
                stroke $-btn-default-color

    .kd-btn-{item}.kd-btn-hollow
        background-color transparent
        border 1px solid $-btn-border-color
        color $-btn-default-color
        &:hover
        &:focus
            border 1px solid lookup('$-btn-'+ type +'-color')
            color palette($-btn-primary-color, 0)
        &:active
            color palette($-btn-primary-color, 1)

    .kd-btn-{item}.kd-btn-disabled
        background-color $-btn-disabled-bg-color
        border-color $-btn-border-color
        color $-btn-disabled-color

.kd-btn-text-default
    background-color: transparent
    border none
    color $-btn-default-color
    &:hover
        color: palette($-btn-primary-color, -1)
    &:active
        color: palette($-btn-primary-color, 1)
.kd-btn-text-default.kd-btn-disabled
    color $-disabled-color

//4种状态
for type in $-btn-types
    .kd-btn-{type}
        background-color lookup('$-btn-'+ type +'-color')
        border-color lookup('$-btn-'+ type +'-color')
        color: #fff
        &:hover
        &:focus
            background-color palette(lookup('$-btn-'+ type +'-color'),-1)
            border-color palette(lookup('$-btn-'+ type +'-color'),-1)
        &:active
            background-color palette(lookup('$-btn-'+ type +'-color'),1)
            border-color palette(lookup('$-btn-'+ type +'-color'),1)
    //空心
    .kd-btn-{type}.kd-btn-hollow
        background-color: transparent
        border 1px solid lookup('$-btn-'+ type +'-color')
        color: lookup('$-btn-'+ type +'-color')
        &:hover
        &:focus
            background-color palette(lookup('$-btn-'+ type +'-color'), -4)
        &:active
            background-color lookup('$-btn-'+ type +'-color')
            color #fff

    //text类型
    .kd-btn-{type}.kd-btn-text-{type}
        background-color: transparent
        border-color: transparent
        color lookup('$-btn-'+ type +'-color')
        &:hover
        &:focus
            color palette(lookup('$-btn-'+ type +'-color'), -1)
        &:active
            color palette(lookup('$-btn-'+ type +'-color'), 1)
    //禁用
    .kd-btn-{type}.kd-btn-disabled
        background-color: $-btn-disabled-bg-color
        border: 1px solid $-btn-disabled-border-color
        
.kd-btn-loading
    pointer-events none
    user-select none
    &:before
        content ""
        position: absolute
        top: -1px
        left: -1px
        bottom: -1px
        right -1px
        background-color rgba(255,255,255,0.3)
.kd-btn-loading-icon
    width: 12px
    height 12px
    display inline-block
    svg
        margin -1px 0
    circle
        display inline-block
        stroke-dasharray: round(c * 0.1), c
        stroke-dashoffset: 0
        fill none
        stroke-width width
        stroke #fff
        r r
        animation k-spin-dash 1s ease-in-out infinite
//size
for s in $-btn-size-types
    .kd-btn-{s}
        padding: lookup('$-btn-'+ s +'-padding')
        font-size lookup('$-btn-'+ s +'-font-size')
        .kdicon
            font-size lookup('$-btn-'+ s +'-font-size')
    .kd-btn-circle.kd-btn-{s}
        padding lookup('$-btn-'+ s +'-circle-padding')
.kdicon
    font-size lookup('$-btn-'+ s +'-font-size')
.kd-btn-disabled
  color $-disabled-color
  cursor: not-allowed

.kd-icon-left
    margin-right: $-btn-icon-text-gutter
.kd-icon-right
    margin-left: $-btn-icon-text-gutter

//shape
.kd-btn-circle
    border-radius $-btn-shape-circle
    padding: $-btn-default-circle-padding
.kd-btn-round
    border-radius $-btn-shape-round


