@import "../variables.styl";
@import '../../common/mixin.styl'

$-btn-border-types := default dashed
$-btn-types := primary success warning danger
$-btn-size-types := large middle small mini
$-btn-text-types := none text
$-btn-gradient := $-button-type == 'gradient'

width = 6
r = 120 - 60 - (width / 2)
c = round(2 * 3.14 * r)
// .kd-btn-container
//     display inline-block
.kd-btn
  position relative
  padding $-button-default-padding
  font-size $-button-default-font-size
  cursor pointer
  border-radius $-button-border-radius
  line-height 1
  border 1px solid $-button-default-border-color
  color $-button-default-color
  flex-shrink 0
//  border的类型
for border in $-btn-border-types
    .kd-btn-{border}
        background $-button-default-background-color
        color $-button-default-color 
        border-style lookup('$-button-'+ border +'-border-style')
        &:hover
        &:focus
            color $-button-default-hover-color
            background $-button-default-hover-background-color
            border-color $-button-default-hover-border-color
        &:active
            border-color $-button-default-active-border-color
            background $-button-default-active-background-color
            color $-button-default-active-color

    .kd-btn-{border}.kd-btn-hollow
        background transparent
        border 1px solid $-button-border-color
        color $-button-default-color
        &:hover
        &:focus
            border 1px solid $-button-hollow-hover-border-color
            color $-button-hollow-hover-color
            if $-btn-gradient
                background $-button-default-hover-background-color
        &:active
            color $-button-hollow-active-color
            if $-btn-gradient
                background $-button-default-active-background-color
    .kd-btn-{border}.kd-btn-disabled
        background $-button-disabled-background-color
        border-color $-button-border-color
        color $-button-disabled-color
        &:hover
        &:focus
        &:active
            color $-disabled-color 
            border-color $-button-border-color

    
//4种状态
for type in $-btn-types
    .kd-btn-{type}
        background lookup('$-button-'+ type +'-color')
        color $-white-color
        if $-btn-gradient && type == "primary"
            border none
            span
            i
                display inline-block
                padding 1px
        else
            border 1px solid lookup('$-button-'+ type +'-color')
        &:hover
        &:focus
            background lookup('$-button-'+ type +'-hover-bg')
            border-color lookup('$-button-'+ type +'-hover-border')
        &:active
            background lookup('$-button-'+ type +'-active-bg')
            border-color lookup('$-button-'+ type +'-active-border')
    //空心
    .kd-btn-{type}.kd-btn-hollow
        background transparent
        color lookup('$-button-'+ type +'-color')
        if $-btn-gradient && type == 'primary'
            border 1px solid $-button-default-border-color
        else
            border 1px solid lookup('$-button-'+ type +'-color')
        &:hover
        &:focus
            background lookup('$-btn-hollow-'+ type +'-hover-bg')
        &:active
            background lookup('$-button-'+ type +'-color')
            color $-white-color
    .kd-btn-{type}.kd-btn-disabled
        background $-button-disabled-background-color
        border-color $-button-border-color
        color $-button-disabled-color
        &:hover
        &:focus
        &:active
            color $-disabled-color 
            border-color $-button-border-color

//  text types
for textItem in $-btn-text-types
    .kd-btn-{textItem}
        padding 0
        background transparent
        border-color transparent
        color lookup('$-button-'+ textItem +'-color')
        &:hover
        &:focus
            color lookup('$-button-'+ textItem +'-hover-color')
        &:active
            color lookup('$-button-'+ textItem +'-active-color')
    .kd-btn-{textItem}.kd-btn-disabled
        color $-disabled-color
        border 0 none
.kd-btn-text
    display inline-block
//  加载
.kd-btn-loading
    pointer-events none
    user-select none
    &:before
        content ""
        position absolute
        top -1px
        left -1px
        bottom -1px
        right -1px
        border-radius $-button-border-radius
        background rgba(255,255,255,0.3)
.kd-btn-loading-icon
    display: inline-block
    width 10px
    height 10px; 
    text-align center
    color: #fff
    transform scale(1.2)
.kd-spin-circle
    animation kd-spin-dash 1.5s ease-in-out infinite
    stroke-dasharray round(c * 0.75), c
    stroke-dashoffset 0
    fill none
    stroke-width width
    stroke #fff
    r r
//size
for s in $-btn-size-types
    $-btn-loading-size = lookup('$-button-'+ s +'-font-size')
    height lookup('$-button-'+ s +'-height')
    .kd-btn-{s}
        padding lookup('$-button-'+ s +'-padding')
        font-size lookup('$-button-'+ s +'-font-size')
        height lookup('$-button-'+ s +'-height')
        [class*=kd-icon]
            font-size lookup('$-button-'+ s +'-font-size')
        .kd-btn-loading-icon
            width unit($-btn-loading-size - 2, 'px')
            height unit($-btn-loading-size - 2, 'px')
    .kd-btn-circle.kd-btn-{s}
        padding lookup('$-button-'+ s +'-circle-padding')
        width lookup('$-button-'+ s +'-height')
    
    
.kd-btn-disabled
  color $-disabled-color
  cursor not-allowed
  .kd-spin-circle
    stroke #9a9797

.kd-icon-left
    margin-right $-button-icon-text-gutter
.kd-icon-right
    margin-left $-button-icon-text-gutter

//shape
.kd-btn-circle
    border-radius $-button-shape-circle
    padding: $-button-default-circle-padding
.kd-btn-round
    border-radius $-button-shape-round

.kd-btn-split
    padding $-button-split-padding

@keyframes kd-spin-dash
    0%
        stroke-dasharray 1, c
        stroke-dashoffset 0
    50%
        stroke-dasharray round(c * 0.75), c
        stroke-dashoffset -(c * 0.25)
    to
        stroke-dasharray round(c * 0.75), c
        stroke-dashoffset -(c)