@import "../variables.styl";
@import '../../mixin.styl';

$-btn-types := primary success warning danger
.kd-btn-group
    display: flex
    justify-content start
    .kd-btn-default
        margin-left -1px
        border-radius:0
        &:hover
            z-index: 2
    .kd-btn-default:first-child
        margin-left 0
        border-radius:$-btn-border-radius 0 0 $-btn-border-radius
    .kd-btn-default:last-child
        border-radius:0 $-btn-border-radius $-btn-border-radius 0
    for type in $-btn-types
        .kd-btn-{type}
            border-radius:0
        .kd-btn-{type}:first-child
            border-radius:$-btn-border-radius 0 0 $-btn-border-radius
        .kd-btn-{type}:last-child
            border-radius:0 $-btn-border-radius $-btn-border-radius 0
        .kd-btn-{type}+.kd-btn-{type}
            &:before
                content: ""
                display: block
                position: absolute
                left -1px
                top: 5px
                width 1px
                height: calc(100% - 10px)
                background: #7999FF
                border-radius: 2px
