@import "../variables.styl";
    
.kd-calendar-wrapper
    width 300px
    min-height 317px
.kd-calendar-header
    text-align center
    line-height: 20px
    margin 5px 15px 20px
    .kd-calendar-text-btn
        cursor pointer
        &:hover 
            color $-datepicker-day-blue-color
    .page-left-icon
        float left
    .page-right-icon
        float right
    .kd-icon-skip-forward,.kd-icon-date-forward
        margin 0 5px
        cursor pointer
        color $-datepicker-icon-color
        &:first-child,&:nth-child(2)
            transform rotate(-180deg)
        &:hover 
            color $-datepicker-day-blue-color
    span
        text-align center
        font-size: $-font-default-size;
        color: $-datepicker-header-text-default-color;
.kd-calendar-default
    margin 0px 10px
    width 280px
    .kd-week
        display flex
        border-bottom 1px solid $-datepicker-disabled-border-color
        span
            flex 1
            text-align center
            margin-bottom 10px
            font-size $-font-base-size
.kd-calendar-table
    &.month, &.year
        margin-top: 40px

    .kd-calendar-row
        display flex
        &.wide
            margin 20px 0px
    // div.kd-calendar-row
    //     display flex
        // margin-top: 10px
        span.kd-month, span.kd-year
            flex 0 0 25%
            text-align center
            line-height 40px
            font-size $-font-base-size
            cursor pointer
            &.kd-blue
                color $-datepicker-day-blue-color
                font-weight 700
            &.kd-in-range
                background-color $-datepicker-day-in-range-bg-color
            &:hover
                background $-datepicker-day-hover-bg-color
                color $-datepicker-day-hover-color
            
            &.kd-selected
                background $-datepicker-day-selected-bg-color
                color $-datepicker-day-selected-color
            &.kd-disabled
                background $-datepicker-day-disabled-bg-color
                color $-datepicker-day-disMonth-color
                cursor no-drop
                
        div.kd-day-container
            margin 8px 0
            padding 0 8px
            //     flex 1
            //     justify-content center
            //     display flex
            &.kd-in-range
                background-color $-datepicker-day-in-range-bg-color
            &.kd-disabled
                background $-datepicker-day-disabled-bg-color
                color $-datepicker-day-disMonth-color
            &.kd-disMonth
                background-color $-datepicker-day-disMonth-bg-color
                color $-datepicker-day-disMonth-color
                // cursor no-drop
                // &:hover
                //     color $-datepicker-day-disMonth-color
        div.kd-day
            position relative
            text-align center
            line-height 24px
            width 24px
            // margin 0.5rem
            font-size $-font-base-size
            cursor pointer
            color $-datepicker-day-text-default-color
            /******** 动态样式 *******/ 
            &.kd-today
                color $-datepicker-day-blue-color
                font-weight 700
            &.kd-in-range
                background-color $-datepicker-day-in-range-bg-color
            &:hover
                border-radius 50%
                background $-datepicker-day-hover-bg-color
                color $-datepicker-day-hover-color
            
                // font-weight $-header-font-weight
            &.kd-selected
                border-radius 50%
                background $-datepicker-day-selected-bg-color
                color $-datepicker-day-selected-color
            &.kd-disabled
                background $-datepicker-day-disabled-bg-color
                color $-datepicker-day-disMonth-color
                cursor no-drop
                // &:hover
                //     color $-datepicker-day-disabled-color
            &.kd-disMonth
                background $-datepicker-day-disMonth-bg-color
                color $-datepicker-day-disMonth-color
                cursor no-drop
                &:hover
                    color $-datepicker-day-disMonth-color
