@import "../variables.styl";

.kd-cascader
    position relative
    cursor pointer
    width $-cascader-default-width
    display inline-block
    background $-cascader-bg-color
.kd-cascader-input
    position relative
    border 1px solid $-cascader-border-color
    border-radius 2px
    padding 0 32px 0 16px
    display flex
    align-items center
    font-size 12px
    &:hover
        border 1px solid $-cascader-active-color
.kd-cascader-input-inner
    display inline-block
    width 100%
    padding 0
    height 30px
    line-height 30px
    font-size 12px
    border none
    color $-cascader-input-color
    background $-cascader-bg-color
    cursor pointer        
.kd-cascader-arrow-icon
    position absolute
    right 10px
    transition transform .3s
    color $-cascader-border-color
.kd-cascader-arrow-icon-rotate
    transform rotate(180deg)
.kd-cascader-disabled
    background $-cascader-disabled-bg
    cursor not-allowed
    .kd-cascader-input
        &:hover
            border 1px solid $-cascader-border-color
.kd-cascader-input-disabled
    background $-cascader-disabled-bg
    cursor not-allowed
    color $-disabled-color
.kd-cascader-tooltip .kd-tooltip-inner
    padding 5px 0px
    max-width 800px
    overflow-x auto
.kd-cascader-clear-icon
    position absolute
    right 10px
    color $-cascader-border-color
.kd-cascader-suggest-li
    font-size 12px
    cursor pointer
    padding 8px 32px 8px 16px
    position relative
    &:hover
        background-color $-cascader-node-bg-color
    &.is-active
        color $-cascader-active-color
    &.is-disabled
        background $-cascader-disabled-bg
        color $-disabled-color
        cursor not-allowed
.kd-cascader-suggest-no-data
    line-height 32px
    text-align center
.kd-cascader-checked-icon.kd-icon-success
    position absolute
    right 10px
    color $-cascader-active-color
.kd-cascader-tags
    display flex
    flex-wrap wrap
    text-align left
    margin 1px 0
    width 95%
    .kd-tag
        text-overflow ellipsis
        max-width 100%
        display inline-flex
        align-items center
        margin 2px 0 2px 6px
        span
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
    .kd-tag-small
        padding 2px 10px !important
.kd-cascader-multi-input-inner
    display inline-block
    width 100%
    padding 0
    height 28px
    line-height 28px
    font-size 12px
    border none
    color $-cascader-input-color
    background $-cascader-bg-color
    cursor pointer     