@import "../variables.styl";

.kd-date-time-picker
    display: inline-block;
    outline: none;
    .kdicon
        color $-datetimepicker-icon-color
    .kd-datetime-picker-panel
        box-shadow $-datetimepicker-box-shadow

.kd-datetime-range-container
    display flex
// 日历组件
.kd-datetime-picker-panel
    display flex
    background-color $-datetimepicker-bg-color
    position relative
    margin-top: 5px
    width 300px
    min-height 312px
    overflow hidden

.kd-datetime-picker-panel.has-sidebar {
    width 400px
}
.kd-datetime-picker-panel.isRange {
    width 600px
}
.kd-datetime-picker-panel.isRange {
    width 600px
}
.kd-datetime-picker-panel.isRange.has-sidebar {
    width 700px
}

// 快捷侧边栏
.kd-datetime-picker-sidebar
    // position: absolute;
    // top: 0;
    // bottom: 0;
    width: 100px;
    background-color: $-datetimepicker-bg-color
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding-top: 6px;
    overflow-x: hidden;
    overflow-y: auto;

.kd-sidebar-row
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    line-height: 28px;
    font-size: $-datetimepicker-sidebar-font-size;
    color: #606266;
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;

.kd-datetime-panel
    display flex
    flex-direction column
    width 300px

.kd-datetime-panel .kd-datetime-tabs
    display flex

.kd-datetime-tabs .kd-datetime-tab
    background $-datetimepicker-tab-default-color
    color $-datetimepicker-tab-text-color
    width 50%
    text-align center
    padding 7px 0px

.kd-datetime-tabs .kd-datetime-tab.kd-datetime-tab-not-active
    background $-datetimepicker-tab-not-active-color
    border 2px solid $-datetimepicker-tab-not-active-color

.kd-datetime-panel .kd-picker-wrapper
    display flex
    justify-content center
    // height 320px
    margin 10px 0px

.kd-datetime-footer {
    background-color $-datetimepicker-bg-color
    display flex
    justify-content flex-end
    padding 10px 20px
    border-top 1px solid #E5E5E5
}

.kd-datetime-footer .kd-datetime-confirm-button{
    margin-right 10px
}

// 其余组件
// 引用其他组件时, 改变其样式
.kd-date-time-tooltip .kd-tooltip-inner{
    padding: 0px;
}

.kd-datetime-picker-panel .kd-time-panel
  width 200px

.kd-datetime-picker-panel .kd-time-panel .column .kd-scroll-select
  height 320px

//   height $-datetimepicker-scroll-select-height

.kd-datetime-picker-input
    width 200px
    &.range
        width 400px
    .kd-datetime-close-icon
        display none
    &:hover
        .kd-input-inner
            border-color:#318efa;
        .kd-datetime-close-icon
            display block
        .kd-datetime-date-icon
            display none

.kd-datetime-picker-input.kd-input.kd-with-prefix.kd-input-default .kd-input-inner
    padding-left 40px
