@import "../variables.styl";

.kd-date-picker
    .kd-icon-date 
        color $-input-clear-color
    .kd-picker-panel
        box-shadow $-box-shadow
    
// 日历组件
.kd-picker-panel
    background-color $-datepicker-bg-color
    position relative
    margin-top: 5px
    width 300px
    min-height 312px
    overflow hidden

.kd-picker-panel.has-sidebar {
    width 400px
}
.kd-picker-panel.isRange {
    width 600px
    display flex
}
.kd-picker-panel.isRange {
    width 600px
}
.kd-picker-panel.isRange.has-sidebar {
    width 700px
}

// 快捷侧边栏
.kd-panel-sidebar
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: $-datepicker-bg-color
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding-top: 6px;
    overflow-x: hidden;
    overflow-y: auto;

.kd-panel-body
    display flex
    width 300px

.kd-panel-sidebar+.kd-panel-body
    margin-left 100px

.kd-sidebar-row
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    line-height: 28px;
    font-size: 14px;
    color: #606266;
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;
        
