@import "../variables.styl";
@import '../../common/mixin.styl'
.kd-dialog-container
    position absolute
    top 0
    left 0
    width 100%
    .kd-dialog-wrapper
        position fixed
        top 0
        left -20px
        right 20px
        bottom 0
    .kd-dialog
        position relative
        top 100px
        // margin 0 auto
        left 50%
        transform translateX(-50%)
        background-color $-dialog-background-color
        box-shadow 0 0 8px 0 rgba(0,0,0,.06)
        border-radius 2px
        border-radius 4px
    .kd-dialog-mask
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(0, 0, 0, .3)
    .kd-dialog-footer
        position relative
        height 64px
        padding 0 20px 
        line-height 52px
        text-align right
    .kd-dialog-center
        text-align center
    .kd-dialog-line
        height 1px
        width 100%
        margin-bottom 4px
        background $-dialog-line-color
.kd-dialog
    .kd-dialog-header
        height 48px
        padding 0 20px
        line-height 48px
        border-radius 4px 4px 4px 4px
        cursor move
        &.kd-dialog-header-backgroundColor
            background-color $-dialog-header-background-color
    .kd-dialog-title
        padding 0 4px
        font-size $-font-base-size
        color $-dialog-title-color
        letter-spacing 0
        line-height 16px
    .kd-dialog-close
        position relative
        width 100%
        height 44px
        line-height 44px
        cursor move
    .kd-dialog-icon
        position absolute
        right 25px
        top 0
        color #ccc
        cursor pointer
        &:hover
            color #557DFC
    .kd-dialog-body
        padding 20px 20px 32px
        text-align center
        word-break normal
        color $-dialog-body-color
    .kd-dialog-footer-height
        height 16px
.kd-dialog-body
    .kd-icon-section
        display inline-block
        border-radius 50%
        i
            &:before
                border-radius 50%
                background-color #fff
    .kd-dialog-icon-title
        line-height 20px
        font-size 16px
        color $-dialog-icon-title-color
    .kd-dialog-message
        padding 0 6px
        text-align center
        line-height 20px
        font-size $-font-base-size
        color $-dialog-message-color
    .kd-dialog-confirm-title
        font-size 18px
        text-align center
        line-height 22px
        color $-dialog-confirm-title-color
        letter-spacing 0
    .kd-dialog-confirm-tips
        font-size $-font-base-size
        text-align center
        line-height 22px
        color $-dialog-confirm-tips-color
        letter-spacing 0
    .kd-dialog-icon-size-confirm
        font-size 50px
    &.kd-dialog-tips-body
        text-align left
        padding-left 30px
    .kd-dialog-icon-size-tips
        display inline-block
        margin-top -3px
        font-size 30px
        vertical-align middle
    &.kd-dialog-tips-body-center
        text-align center
        padding 20px 20px 32px
    .kd-dialog-icon-size-tips-center
        font-size 40px
    .kd-dailog-tips-icon
        margin-right 12px
    .kd-dialog-tips-title
        font-size 16px
        line-height 30px
        color $-dialog-tips-title-color
    .kd-dialog-tips-title-center
        display block
        padding 8px 0
        line-height 20px
    .kd-dialog-tips-message
        margin-left 40px
        margin-top 8px
        font-size $-font-base-size
        line-height 20px
        color $-dialog-tips-message-color
    .kd-dialog-tips-message-center
        display flex
        justify-content center
        margin-left 0
        padding 0px 10px
        text-align justify
.kd-dialog-footer
    .kd-dialog-btn
        margin 0 4px
//进入和离开时的动画      
.kd-dialog-fade-enter-active 
  animation dialog-fade-enter .3s
  animation-fill-mode forwards
.kd-dialog-fade-leave-active 
  animation dialog-fade-out .3s
  animation-fill-mode forwards

@keyframes dialog-fade-enter {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
// 内容区域有滚动条的时候
::-webkit-scrollbar 
    background-color $-dialog-scrollbar-background-color
::-webkit-scrollbar-track
    background-color $-dialog-scrollbar-background-color /* 滚动条的滑轨背景颜色 */ 
::-webkit-scrollbar-thumb
    background-color $-dialog-scrollbar-thumb-color /* 滑块颜色 */ 