@import '../variables.styl';

.kd-dropdown-item
    line-height 32px
    padding 0 16px
    cursor pointer
    display block
    &:hover
        background $-dropdown-item-hover-bg
.kd-dropdown-dividedline-item
    margin-top 10px
    position relative
    &:before
        content ""
        position absolute
        top -5px
        left 0 
        width 100%
        border-top 1px solid $-dropdown-item-dividedLine
.kd-dropdown-item.kd-dropdown-disabled-item
    color $-dropdown-item-disabled-bg
    &:hover
        background $-dropdown-item-disabled-hover
        cursor default
