.kd-editable
    height 32px
    min-width 40px
    &:hover
        .edit-icon
            display inline !important
.kd-editable-txt
    display inline-block
    max-width calc(100% - 30px)
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    cursor pointer
    height 32px
    line-height 32px
    float left
.kd-editable-icon
    height 32px
    line-height 32px
    float right
.kd-editable-icon-follow
    float left !important
    margin-left 5px
.kd-editable-invalid
    .kd-input-inner
        border 1px solid #f43 !important
.kd-editable-input
    width 100% !important
.kd-editable-hover
    .edit-icon
        display none
