@import "../variables.styl"
$-editable-size-types := large default small mini
.kd-editable
    min-width 40px
    &:hover
        .edit-icon
            display inline !important
.kd-editable-txt
    display inline-block
    max-width calc(100% - 30px)
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    cursor pointer
    float left
.kd-editable-icon
    float right
.kd-editable-icon-follow
    float left !important
    margin-left 5px
.kd-editable-invalid
    .kd-input-inner
        border 1px solid #f43 !important
.kd-editable-input
    width 100% !important
.kd-editable-hover
    .edit-icon
        display none
for s in $-editable-size-types
    .kd-editable-{s}
        height lookup('$-editable-'+ s +'-height')
        .kd-editable-txt,.kd-editable-icon
            height lookup('$-editable-'+ s +'-height')
            line-height lookup('$-editable-'+ s +'-height')
            font-size lookup('$-editable-'+ s +'-font-size')
        .kd-editable-icon
            .edit-icon
                font-size lookup('$-editable-'+ s +'-font-size')