@import "../variables.styl"
.kd-form-item
    display table
    position relative
    margin 0 0 16px
    &.kd-form-item-fluid
        width 100%
    .kd-label
        display table-cell
        padding-right 10px
        font-size 12px
        line-height 32px
        text-align right
        vertical-align middle
    .kd-form-item-content
        display table-cell
        vertical-align middle
        .kd-form-item-validate-error
            position absolute
            color #f43
            font-size 12px
            white-space nowrap
    .kd-formItem-append
        display table-cell
        padding 0 10px
        vertical-align middle
