@import '../variables.styl'

.kd-menu
    transition all $-scrollseelect-transition
    background $-menu-horizontal-background
.kd-menu-collapse
    width 64px !important
    overflow hidden
    .kd-menu-item
    .kd-submenu-title
        span
            display none
// horizontal
.kd-menu-horizontal
    display flex
    flex-direction row
