@import '../variables.styl'

.kd-menu-item-group-title
    color $-menu-item-group-title-color
    font-size $-menu-item-group-title-font-size
.kd-menu-item-group-title-horizontal
    line-height $-menu-item-group-title-horizontal-line-height
.kd-menu-item-group-title-vertical
    line-height $-menu-item-group-title-vertical-line-height
