@import '../variables.styl'

.kd-menu-item
    font-size $-menu-item-font-size
.kd-menu-item [class^=kd-icon-]
    font-size 14px
    padding-right 10px
.kd-menu-item-disabled
    color $-menu-disabled-color !important
