@import "../variables.styl";
$-message-types = 'success' 'warning';

.kd-offline-mask
  font-size $-message-font-size
  padding $-message-padding
  border-radius $-message-border-radius
  border 1px solid $-message-default-border-color
  background $-message-default-background-color
  color $-message-default-font-color
  box-sizing border-box
  position relative
  overflow hidden


.kd-offline-fixed
  position fixed
  top 0
  right 10px
  //transform translate(-50%, 0)
  transition all $-message-transition

for t in $-message-types
  .kd-message-{t}
    border-color lookup('$-message-' + t + '-border-color')
    background lookup('$-message-' + t + '-background-color')
    color lookup('$-message-' + t + '-font-color')

.kd-offline-title
  font-size 12px;

