@import '../variables.styl'

.kd-pagination
    display inline-block
    .kd-pagination-btn
        margin-right 4px
        padding 0 6px
        min-width 24px
        height 24px
        border-radius 2px !important
        font-size $-pagination-font-size
        line-height 24px
    .kd-pagination-btn-next
        margin-right 0
    .kd-pagination-left, .kd-pagination-right, .kd-pagination-total
        font-size $-pagination-font-size
    .kd-pagination-limits, .kd-pagination-total, .kd-pagination-goto
        display inline-block
    .kd-pagination-limits, .kd-pagination-total
        margin-right $-pagination-margin-right
    .kd-pagination-goto
        margin-left $-pagination-margin-left
    .kd-pagination-total
        color $-pagination-text-color
.kd-pagination-limits
    &:hover
        .kd-pagination-limits-icon
            color $-pagination-limits-hover-color
    .kd-pagination-limits-icon
        color #ccc
        padding-left 10px
    .kd-btn
        border-radius 2px !important
.kd-btn-active.kd-pagination-btn-active,.kd-pagination-btn-mini.kd-pagination-btn-active
    border-color $-pagination-btn-active-border-color
    background $-pagination-btn-active-bg-color
    color $-pagination-btn-active-text-color
    &:before
        width 0
.kd-pagination-btn-mini
    margin-right 0 !important
.kd-pagination-btns
    display inline-block
    font-size $-pagination-font-size
    &:last-child
        margin-right 0
// goto
.kd-pagination-goto
    font-size $-pagination-font-size
    color $-pagination-text-color
    .kd-pagination-input
        position relative
        display inline-block
        margin 0 $-pagination-goto-margin
        width $-pagination-goto-width
        height 20px
        outline none
        border-radius 2px
        border 1px solid $-pagination-goto-border-color
        background $-pagination-input-bg-color
        transition border 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out
        color $-pagination-text-color
    .kd-inner
        height 24px !important
        line-height 24px !important
