@import('../variables.styl')

.kd-scroll-select
    position relative
    text-align center
    // overflow hidden
    max-height 100%
    // height $-scroll-select-height
    user-select none
    // .kd-wrapper
    //     transition transform $transition
    &.kd-dragging
        .kd-wrapper
            transition none

    // disabled
    &.kd-disabled
        .kd-scroll-item
            color $-scroll-select-item-disabled-color

    .kd-scroll-item
        line-height $-scroll-select-item-height
        color $-scroll-select-item-color
        cursor pointer
        white-space nowrap
        &.kd-scroll-item-active
            color $-scroll-select-item-active-color
            font-size $-scroll-select-item-active-font-size
        &.kd-scroll-item-disabled
            color $-scroll-select-item-disabled-color

    // border
    .kd-border
        position absolute
        width 100%
        top 50%
        transform translateY(-50%)
        // margin-top -($-scroll-select-item-height / 2)
        height $-scroll-select-item-height
        border none
        border-top $-scroll-select-border
        border-bottom $-scroll-select-border
        pointer-events none