@import('../variables.styl')

.kd-scroll-select
    position relative
    text-align center
    overflow hidden
    max-height 100%
    height $-scrollselect-height
    user-select none
    .kd-wrapper
        transition transform $-scrollseelect-transition
    &.kd-dragging
        .kd-wrapper
            transition none

    // disabled
    &.kd-disabled
        .kd-scroll-item
            color $-scrollselect-item-disabled-color

    .kd-scroll-item
        line-height $-scrollselect-item-height
        color $-scrollselect-item-color
        cursor pointer
        white-space nowrap
        &.kd-scroll-item-active
            color $-scrollselect-item-active-color
            font-weight $-scrollselect-item-active-font-weight
        &.kd-scroll-item-disabled
            color $-scrollselect-item-disabled-color
            font-weight normal

    // border
    .kd-border
        position absolute
        width 100%
        top 50%
        transform translateY(-50%)
        // margin-top -($-scrollselect-item-height / 2)
        height $-scrollselect-item-height
        border none
        border-top $-scrollselect-border
        border-bottom $-scrollselect-border
        pointer-events none