@import '../variables.styl';

 $-kd-skeleton-bg-type := 'p' 'first' 'last' 'button' 'box' 'round' 'title' 'img';

 $-kd-skeleton-height-type := 'p' 'first' 'last' 'title';

 for types in $-kd-skeleton-bg-type
      .kd_skeleton_item_{types}
          background: $-skeleton-bg-color

for types in $-kd-skeleton-height-type
      .kd_skeleton_item_{types}
          height: 20px          

.kd_skeleton_box
    .kd_skeleton_item_p
        width: 100%
        margin-top: 20px
        border-radius: $-skeleton-other-borderRadius
    .kd_skeleton_item_first
        width: 33%
        border-radius: $-skeleton-other-borderRadius
    .kd_skeleton_item_last
        width: 66%
        border-radius: $-skeleton-other-borderRadius
    .kd_skeleton_item_button    
        height: 40px
        width: 60px
        border-radius: $-skeleton-other-borderRadius
    .kd_skeleton_item_box    
        height: 100px
        width: 100px  
    .kd_skeleton_item_round    
        height: 100px
        width: 100px  
        border-radius: $-skeleton-round-borderRadius
    .kd_skeleton_item_title    
        width: 200px 
    .kd_skeleton_item_img    
        height: 200px
        width: 200px  
        .kd_skeleton_item_img_path  
            fill: $-skeleton-item-img-color
            
                     
.kd_skeleton_box_active 
     .kd_skeleton_item
      position: relative
      &::before{
                content: '';
                position: absolute;
                z-index: 30;
                left: 0%;
                width: 100%;
                height: 100%;
                background: $-skeleton-active-color
                background-size: 400% 100%;
                animation: sheen 1.4s ease infinite
                border-radius: 10px
            }
@keyframes sheen {
        0%   {background-position: 100% 50%;}

        100% {background-position: 0% 50%;}
            }            