@import "../variables.styl";

.kd-steps-container
    position relative
    display flex
    flex-wrap nowrap
    min-height 32px
    background-color $-steps-container-background-color
    padding  20px
    &.kd-steps-container-vertical
        flex-flow column
    .kd-step
        flex-basis 50%
        &:last-child
            flex-basis auto
            flex-shrink 0
            flex-grow 0
        &:last-of-type
            flex 0 0 auto
    .kd-step-spot
        &:first-child
            margin-left 20px
        &:last-child
            margin-right 120px
.kd-step
    position relative
    min-height 32px
    .kd-step-container
        max-width 200px
        overflow hidden
    .kd-step-head
        position absolute
        flex 1
        z-index 1
        padding 0 8px 0 8px
        z-index 1
        background-color $-steps-container-background-color
    .kd-step-index
        display inline-block
        width 30px
        height 30px
        border-radius 50%
        text-align center
        line-height 29px
        cursor default
        &.kd-step-index-default
            border 1px solid $-step-index-default-border-color
            color $-step-index-default-color
        &.kd-step-index-active
            border $-step-index-active-border-color
            background $-step-index-active-background-color
            color  #ffff
        &.kd-step-index-done
            box-sizing: border-box;
            border $-step-index-done-border-color
            background $-step-index-done-background-color
            color $-step-index-done-color
        &.kd-step-custom-status-error
            box-sizing border-box
            border $-step-custom-status-error-border-color
            background $-step-custom-status-error-background-color
            color $-step-custom-status-error-color
            line-height 25px
        &.kd-step-custom-status-wait
            border 1px solid $-step-index-default-border-color
            color $-step-index-default-color
            background $-step-custom-status-wait-background-color
        &.kd-step-custom-status-finished
            box-sizing border-box
            border $-step-index-done-border-color
            background $-step-index-done-background-color
            color $-step-index-done-color
            line-height 25px
            i
                color $-step-index-done-color
        &.kd-step-custom-status-active
            border $-step-index-active-border-color
            background $-step-index-active-background-color
            color  #ffff
        &.kd-step-index-icon
            border 0 none
            background transparent
            color $-step-index-icon-color
            line-height 32px
        &.kd-step-index-small,&.kd-step-index-simple
            width 26px
            height 26px
            line-height 25px
        .kd-step-icon
            display inline-block
            margin-top -4px
            font-size 26px
            vertical-align middle
            &.kd-step-icon-active
                color $-step-icon-active-color
            &.kd-step-icon-done
                color $-step-icon-done-color
    .kd-step-index-spot
        display inline-block
        width 7px
        height 7px
        border-radius 50%
        &.kd-step-spot-default
            background $-step-spot-default-background-color
        &.kd-step-spot-active
            width 8px
            height 8px
            background-color $-step-spot-active-background-color
        &.kd-step-spot-done
            background-color $-step-spot-done-background-color
    .kd-step-spot-line
        display inline-block
        width 14px
        height 14px
        border-radius 50%
        border 1px solid $-step-spot-line-border-color
        background-color $-step-spot-line-background-color
        text-align center
        line-height 10px
    .kd-step-line
        display flex
        flex 1
        height 1px
        background-color $-step-line-background-color
        transform translate(6px,16px)
        &.kd-step-line-active
            animation changeColor 1s ease-in-out infinite
    .kd-step-content
        width auto
        margin-right 8px
        float left
    .kd-step-title
        position absolute
        left 42px
        top 0px
        display inline-block
        width max-content
        height 32px
        line-height 32px
        padding 0 8px
        font-size 16px
        color $-step-title-color
        z-index 10
        background-color $-steps-container-background-color
        &.kd-step-title-active
            color $-step-title-active-color
    .kd-step-title-bottom
        left 0px
        top 37px
        min-width 32px
        text-align center
    .kd-step-description
        margin 37px 0 0 50px
        max-width 140px
        height auto
        font-size 14px
        color $-step-description-color
        text-align left
        line-height 20px
        &.kd-step-desc-active
            color $-step-description-active-color
        &.kd-step-desc-notitle
            margin-left 0px
    .kd-step-description-vertical-small
        font-size 12px
    .kd-step-desc-bottom
        margin 69px 0 0 8px
.kd-step
    &.kd-step-simple
        position relative
        display inline-block
        height 40px
        text-align center
        background-color $-step-simple-background-color
        &:last-child
            flex-basis 20%
        &:not(:last-child)
            &:after
                position absolute
                top 0
                right 10px
                content ' '
                width 0
                height 0
                border 20px solid $-step-simple-border-color
                border-left 10px solid $-step-simple-background-color;
    &.kd-step-simple+.kd-step-simple
        &:before
            position absolute
            top 0
            left -31px
            content ' '
            width 0
            height 0
            border 20px solid $-step-simple-background-color
            border-left 10px solid transparent
.kd-step-simple
    .kd-step-container
        width 100%
        height 100%
        max-width none
        text-align center
    .kd-step-head
        height 40px
        float none
        line-height 40px
        background-color $-kd-step-simple-bgc
        left 25%
    .kd-step-title-simple
        left 40%
        display inline-block
        height 40px
        line-height 40px
        background-color $-kd-step-simple-bgc
.kd-steps-container-vertical
    height 100%
    .kd-step-wrap
        display flex
        height 100%
        flex-flow column
        .kd-step-head
            flex 0 0 auto
            padding 8px 0px
    .kd-step-content
        display inline-block
        flex 0 0 auto
    .kd-step-line-vertical
        position absolute
        width 1px
        flex 1
        height 100%
        background-color $-step-line-background-color
        transform: translate(15px, 32px);
    .kd-step-line-vertical-small
        transform: translate(12px, 32px);
    .kd-step-title-vertical
        left 35px
        top 8px
    .kd-step-desc-vertical
        margin-top 40px
        margin-left 40px !important
    .kd-step-desc-vertical-notitle
        margin-top 15px
        margin-left 45px !important
    .kd-step-description-vertical-small
        left -6px
.kd-step-spot
    .kd-step-main
        position absolute
        transform translateX(-25%)
        width 140px
    .kd-step-head
        padding 0
    .kd-step-title-spot
        top 20px
    .kd-step-desc-spot
        margin-top 50px
        margin-left 7px
    .kd-step-desc-notitle-spot
        margin-top 30px
    .kd-step-line
        transform translate(6px,14px)
.kd-step
    .kd-step-cursor
        cursor pointer
@keyframes changeColor {
    0%{
        background-color $-step-line-active-background-color
    }
    100%{
        background-color $-step-line-active-background-color
    }
}
