@import '../variables.styl'

// .kd-submenu
//     padding-left 24px
.kd-submenu-disabled
    color $-menu-disabled-color !important
.kd-submenu-title
    position relative
    height $-menu-item-height
    border-radius $-menu-item-border-radius
    font-size $-menu-item-font-size
    overflow hidden
.kd-submenu-title-horizontal
    line-height $-menu-item-height-horizontal
.kd-submenu-title-vertical
    line-height $-menu-item-height-vertical
.kd-submenu-icon-arrow
    position absolute
    right 24px
    font-size 12px
    vertical-align middle
