@import '../variables.styl';
.kd-tabs  
   position: relative;
   background: $-tabs-color-background;
   overflow: hidden;
   user-select: $-tabs-user-select;
   .kd-control  
      display: none;
.kd-tabs-main-move
   position relative
   overflow hidden 
.kd-addabble-box   
   margin-right: 50px
.kd-tab  
   position: relative;
   width: auto;
   flex-shrink: 0;
   cursor: pointer;
   text-align: center;
.kd-tab-text  
   text-decoration: none;
   color: $-tabs-color-font;
   font-family: PingFangSC-Medium;
   font-size: $-tabs-font-size;
   letter-spacing: 0;
.kd-tabs-default  
   &:after  
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: $-tabs-after-width;
      background: $-tabs-after-backgroundColor;
   .kd-tabs-content  
      position: relative;
      background: $-tabs-color-background;
      padding: 0 16px;
      display: inline-block;
      white-space: nowrap;
   .kd-tab  
      display: inline-block;
      padding: 10px 16px;
      min-width: 88px;
   .kd-active  
      .kd-tab-text  
         color: $-tabs-color-active;
.kd-tabs-pagination  
   background: $-tabs-color-background;
   .kd-tab  
      padding: 10px 0;
      min-width: 84px;
   .kd-tab:not(:last-child)
      &:after  
         position: absolute;
         content: '';
         width: 1px;
         background: $-tabs-after-backgroundColor;
         height: 14px;
         right: 0;
         top: 15px; 
   .kd-tabs-content  
      display: flex;
   .kd-active  
      .kd-tab-text  
         display: inline-block;
         border-bottom: $-tabs-border-width solid $-tabs-color-active-bar;
         padding-bottom: 10px;
         height: auto;
         color: $-tabs-color-active;    
.kd-tabs-card  
   .kd-tab:not(:first-child)
       border-left:none
   .kd-tab  
      display: inline-block;
      min-width: 84px;
      border: $-tabs-border-width solid $-tabs-after-borderColor-card;
      padding: 9px 16px;
      cursor: pointer;
      background: $-tabs-card-background;
   .kd-tabs-content  
      display: inline-block;
      font-size: 0;
      border-radius: 4px 0 0 4px;
      .kd-active  
         background:  $-tabs-card-color-background !important;
         .kd-tab-text  
            color: $-tabs-color-active;
.kd-tabs-block  
   .kd-tabs-content  
      display: inline-block;
      padding: 0 16px;
      display: inline-block;
      white-space: nowrap;
      // display: flex;
      .kd-tab:not(:first-child)  
         margin-left: 7px;
   .kd-tab  
      display: inline-block;
      min-width: 128px;
      padding: 14px 16px;
      border: $-tabs-border-width solid $-tabs-after-borderColor;
      background: $-tabs-large-backgroundColor;
   .kd-active  
      position relative
      top:1px
      background: $-tabs-color-background !important;
      border-top: 2px solid $-tabs-color-active-bar;
      border-bottom: 1px solid transparent;
      border-left:1px solid transparent;
      .kd-tab-text  
         color: $-tabs-color-active;
.kd-tabs-vertical  
   display: inline-block;
   padding: 14px 0px;
   .kd-tab  
      white-space: nowarp;
      min-width: 60px;
      padding: 16px 16px;
   .kd-move-vertical  
      transition: all 0.3s;
      position: absolute;
      background: $-tabs-color-active-bar;
      right: 0;
      top: 0px;
      z-index: 99999;
      height: 50px;
      width: 2px;
   &:after  
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      height: $-tabs-after-width;
      width: 1px;
      background: $-tabs-after-backgroundColor;
   .kd-active  
      .kd-tab-text  
         color: $-tabs-color-active;  
.kd-tabs-show-control  
   .kd-tabs-content  
      transition: margin-left 0.3s;
      padding: 0px 20px;
   .kd-control  
      position: absolute;
      display: table;
      cursor: pointer;
      z-index: 9999;
      border-bottom: none;
      background:$-tabs-large-backgroundColor;
      border: 1px solid $-tabs-after-borderColor
      height: 100%;
      .kd-control-icon  
         font-size: 15px !important;
         vertical-align: middle;
         display: table-cell;
      &.right  
         right: 0;
.kd-move-bar  
   transition: all 0.3s;
   position: absolute;
   display: inline-block;
   background: $-tabs-color-active-bar;
   bottom: 0;
   left: 16px;
   z-index: 99;
   height: 2px;
.kd-guanbi  
   display: inline;
   margin-left: 10px;
   color: $-tabs-color-guanbi;
   &:hover  
      color: $-tabs-color-active;
   &:active  
      color: $-tabs-color-background;
.kd-disabled  
   cursor: not-allowed;
   .kd-tab-text  
      color: $-tabs-after-disabledColor;
      cursor: not-allowed;
.kd-move-disable-left , .kd-move-disable-right
   cursor: not-allowed !important
   color:$-disabled-color;
   background:$-disabled-bg-color !important
   border: 1px solid  $-disabled-border-color !important
.kd-add-tab
   position: absolute
   right 0
   top: calc( 50% - 21px)
   width: 42px
   height 42px
   background:  $-kd-add-tab
   margin-left: 7px
   color #b2b2b2
   cursor pointer
   text-align: center
   line-height: 42px
   font-size: 12px
   &:active  
      color: $-tabs-color-background;
      border: 1px solid  $-kd-add-tab



