@import('../variables.styl')
// .k-time-picker.k-select-dropdown.k-tooltip-content
//     min-width auto
//     max-height $select-dropdown-max-height
//     overflow auto
.dropdown
  .k-active
      color $-timepicker-time-active-color
  .k-step .k-disabled
      color $-timepicker-time-disabled-color
  .k-item
      padding: 0 1.333333333333333em;
      height: 32px;
      line-height: 32px;
      cursor: pointer;

      &:hover
          background $-timepicker-item-hover-bg-color
          // color #fff