@import('../variables.styl')

.kd-time-picker
    display: inline-block;
    outline: none;
    .kdicon
        color $-datetimepicker-icon-color
    .kd-timepicker-panel
        box-shadow $-datetimepicker-box-shadow

.kd-timepicker-panel //
    width: 172px;
    // max-height: 200px;
    // overflow-y: scroll;
    .kd-timepicker-title {
        margin: 10px 0px;
        text-align: center;
    }
    .kd-common-selector-container
        width: 150px;
        margin: 0 auto;
        padding: 0px 10px;

    .kd-steptime-container
        max-height: 200px;
        overflow-y: scroll;
        .kd-steptime-item
            padding: 0 1.333333333333333em;
            height: 32px;
            line-height: 32px;
            cursor: pointer;

            &:hover
                background $-timepicker-item-hover-bg-color
            &.kd-active
                color $-timepicker-time-active-color
            &.kd-disabled
                color $-timepicker-time-disabled-color

.kd-timepicker-panel.range
    width: 450px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    .kd-range-selector-container //
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;
        padding: 5px 10px;
        width: 150px;

.kd-timepicker-input
    width 200px
    &.range
        width 400px
    .kd-timepicker-close-icon
        display none
    &:hover
        .kd-input-inner
            border-color:#318efa;
        .kd-timepicker-close-icon
            display block
        .kd-timepicker-time-icon
            display none

.kd-timepicker-input.kd-input.kd-with-prefix.kd-input-default .kd-input-inner
    padding-left 40px
.kd-time-picker-footer
    display flex
    flex-direction row
    align-items center
    justify-content flex-end
    border-top 1px solid #e5e5e5
    padding-top 14px
    padding-right 20px
    .kd-btn
        margin-left 10px
