@import "../variables.styl";
@import './motion/mixins.styl';
.kd-tree
    font-size $-font-small-size
    ul
        padding-left calc(14px + 8px) // width + margin; variables
    .kd-tree-node-el
        margin-bottom 12px
        &:hover
            background-color $-tree-node-bg-color
    .kd-tree-switcher, .kd-tree-loading
        margin-right 8px
        display inline-block
        width 14px
        height @width
        vertical-align 1px
        text-align center
        transition all $-animation-duration-base $-ease-in-out
    .kd-tree-switcher-icon
        cursor pointer
    .kd-tree-switcher-border
        border 1px solid #ccc
    .tree-open
        display inline-block
        transform rotate(90deg)
    .tree-expand
        display inline-block
        width 10px
        height 10px
        border-radius 2px
        text-align center
        font-style normal
        line-height 10px
        cursor pointer
        transition all $-animation-duration-base $-ease-in-out
    .node-title
        cursor pointer
    // .node-searched
    //     border 1px solid #ff8247
    .node-title-disabled
        cursor not-allowed
    .node-selected
        // background-color #bae7ff
        color $-primary-color
// checkbox
.kd-tree-checkbox
    margin-right 8px
    .kd-checkbox-text
        display none
.kd-tree-switcher
    color #ccc
// loading
.kd-tree-loading
    color $-primary-color
    animation rotating 1.2s linear infinite // todo: loading
@keyframes rotating
    from
        transform rotate(0)
    to
        transform rotate(360deg)
// tree node connection line
.kd-tree-line
    li:not(:last-of-type)
        position relative
        &:before
            position absolute
            border-left 1px dashed #ccc
            left 7px
            margin 20px 0 0
            width 1px
            height calc(100% - 6px)
            content ' '
    li.leaf:before
        display none
// insert mode: before inner after
.kd-tree-insert-inner
    background $-primary-color
.kd-tree-insert-after
    border-bottom 1px solid $-primary-color
.kd-tree-insert-before
    border-top 1px solid $-primary-color
