.kd-form-item
    display table
    position relative
    margin 0 0 16px
    .kd-label
        display table-cell
        text-align right
        padding-right 10px
        line-height 32px
    .kd-form-item-content
        display table-cell
        .kd-form-Item-validate-error
            position absolute
            color #f43
            font-size 12px
            margin 8px 0 0
            white-space nowrap
    .kd-formItem-append
        display table-cell
        padding 10px
        vertical-align middle
