@import "../variables.styl";

width = $-spin-stroke-width
r = 120 - 60 - (width / 2)
c = round(2 * 3.14 * r)

.k-spin
    display inline-block
    text-align center
    z-index 9999
    .k-spin-canvas
        width $-spin-width
        height @width
        animation c-rotate 2s linear infinite
        margin 0 auto
    .k-spin-canvas-defined
        animation c-rotate 2s linear infinite
        display inline-block
    .k-spin-circle
        stroke-dasharray: round(c * 0.75), c;
        stroke-dashoffset: 0;
        fill none
        stroke-width width
        stroke $-spin-color
        r r
        animation k-spin-dash 1.5s ease-in-out infinite

    // size
    for size in large small mini
        &.k-spin-{size}
            .k-spin-canvas
                width lookup('$-spin-' + size + '-width')
                height @width
    for size in large default small mini
        &.k-spin-font-{size}
            .k-spin-loading-text
                font-size lookup('$-icon-' + size + '-font-size')

    // center
    &.k-spin-center
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    // overlay
    &.k-spin-overlay
        position fixed
        top 0
        bottom 0
        left 0
        right 0
        .k-spin-wrapper
            @extend .k-spin.k-spin-center
    &.k-spin-local
        position absolute

@keyframes k-spin-dash {
    0% {
        stroke-dasharray: 1, c;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: round(c * 0.75), c;
        stroke-dashoffset: -(c * 0.25)
    }

    to {
        stroke-dasharray: round(c * 0.75), c;
        stroke-dashoffset: -(c)
    }
}
