// Tooltip
$-border-color-base := #d9d9d9
$-font-size-base := 12px
$-line-height-base := 1.5
$-border-radius-base := 4px
$-shadow-color := rgba(0, 0, 0, 0.15)
$-box-shadow-base := 0 0 15px 0 $-shadow-color
$-text-color := fade(#000, 65%)
$-tooltip-color := #fff
// ---
// * Tooltip max width
$-tooltip-max-width := 250px
// ** Tooltip text color
$-tooltip-max-width := #fff
// ** Tooltip background color
$-tooltip-bg := rgba(0, 0, 0, 0.75)
// effect
$-tooltip-light-bg := #fff
$-tooltip-light-color := #737373
$-tooltip-dark-bg := #2C324D
$-tooltip-dark-color := #fff
$-tooltip-theme := 'dark' 'light'

// ** Tooltip arrow width
$-tooltip-arrow-width := 5px
// ** Tooltip distance with trigger
$-tooltip-distance := $-tooltip-arrow-width - 1px + 4px
// ** Tooltip arrow color
$-tooltip-arrow-color := $-tooltip-bg
// Popover
// ---
// ** Popover body background color
$-popover-bg := #fff
// ** Popover text color
$-popover-color := $-text-color
// ** Popover maximum width
$-popover-min-width := 177px
// ** Popover arrow width
$-popover-arrow-width := 4px
// ** Popover arrow color
$-popover-arrow-color := $-popover-bg
// ** Popover outer arrow width
$-popover-arrow-outer-width := ($-popover-arrow-width + 1px)
// ** Popover outer arrow color
$-popover-arrow-outer-color := fadeout($-border-color-base, 30%)
// ** Popover distance with trigger
$-popover-distance := $-popover-arrow-width + 4px
// ///////////////

// effect color
for theme in $-tooltip-theme
    .kd-tooltip-{theme}
        .kd-tooltip-inner
            background-color lookup('$-tooltip-' + theme + '-bg')
            color lookup('$-tooltip-' + theme + '-color')
        &[data-popper-placement^='top'] .kd-tooltip-arrow
            border-top-color lookup('$-tooltip-' + theme + '-bg') !important
        &[data-popper-placement^='right'] .kd-tooltip-arrow
            border-right-color lookup('$-tooltip-' + theme + '-bg') !important
        &[data-popper-placement^='bottom'] .kd-tooltip-arrow
            border-bottom-color lookup('$-tooltip-' + theme + '-bg') !important
        &[data-popper-placement^='left'] .kd-tooltip-arrow
            border-left-color lookup('$-tooltip-' + theme + '-bg') !important




.kd-tooltip
    position absolute
    display block
    visibility visible
    font-size $-font-size-base
    line-height $-line-height-base
    &[data-popper-reference-hidden]
        visibility hidden
        pointer-events none
    &[data-popper-placement^='top']
        padding-bottom $-tooltip-distance
    &[data-popper-placement^='right']
        padding-left $-tooltip-distance
    &[data-popper-placement^='bottom']
        padding-top $-tooltip-distance
    &[data-popper-placement^='left']
        padding-right $-tooltip-distance
    // arrow style of placement
    &[data-popper-placement^='top'] &-arrow
        bottom $-tooltip-distance - $-tooltip-arrow-width
        border-width $-tooltip-arrow-width $-tooltip-arrow-width 0
        border-top-color $-tooltip-light-bg
    &[data-popper-placement^='right'] &-arrow
        left $-tooltip-distance - $-tooltip-arrow-width
        border-width $-tooltip-arrow-width $-tooltip-arrow-width $-tooltip-arrow-width 0
        border-right-color $-tooltip-light-bg
    &[data-popper-placement^='bottom'] &-arrow
        top $-tooltip-distance - $-tooltip-arrow-width
        border-width 0 $-tooltip-arrow-width $-tooltip-arrow-width
        border-bottom-color $-tooltip-light-bg
    &[data-popper-placement^='left'] &-arrow
        right $-tooltip-distance - $-tooltip-arrow-width
        border-width $-tooltip-arrow-width 0 $-tooltip-arrow-width $-tooltip-arrow-width
        border-left-color $-tooltip-light-bg
// Wrapper for the tooltip content
.kd-tooltip-inner
    padding 14px
    max-width $-tooltip-max-width
    border-radius $-border-radius-base
    box-shadow $-box-shadow-base
    text-align left
    text-decoration none
    font-size 12px
    line-height 20px
    color $-tooltip-light-color
    background-color $-tooltip-light-bg
.kd-tooltip-arrow
    position absolute
    width 0
    height 0
    border-style solid
    border-color transparent
    &[data-hide]
        visibility hidden
