/******************************
             Theme
*******************************/
// $-font-family := -apple-system,'PingFang SC',BlinkMacSystemFont,'Segoe UI','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif !important
$-font-family := 'PingFangSC-Regular,Microsoft YaHei,微软雅黑,Arial,sans-serif' !important
// font size
$-font-large-size := 16px
$-font-default-size := 14px
$-font-small-size := 12px
$-font-mini-size := 12px
$-font-second-size := 12px
// font color
$-text-dark-color := #262626
$-text-light-color := #4C4C4C //主要正文颜色
$-text-list-color := #778088 //列表文字颜色
$-text-regular-color := #737373 //常规文字颜色
$-text-placeholder-color := #B2B2B2 //占位文字颜色
//theme color
$-primary-color := #557DFC
$-warning-color := #FF9A42
$-danger-color := #EF4E76
$-success-color := #38C482
// theme lighter color
$-primary-lighter-color := #7797FC
$-warning-lighter-color := #FFAF6B
$-danger-lighter-color := #F3839F
$-success-lighter-color := #5FCF9B
// theme darker color
$-primary-darker-color := #4464C9
$-warning-darker-color := #E58C3E
$-danger-darker-color := #A22334
$-success-darker-color := #33A36D
// border color
$-border-base-color := #CCC //主要边框
$-border-light-color := #999999
$-border-second-light-color := #B2B2B2
$-border-three-light-color := #F2F2F2
$-split-line-color := #E5E5E5 //区域分割线
// background color
$-light-bg-color := #FFF
$-dark-bg-color := #000
$-bg-base-color := #F3F4F7 //基础内容背景样式
$-table-header-bg-color := #F3F6FB //table,title等头部背景
$-table-content-bg-color := #F4F7FC //内容区
// disable color
$-disabled-color := #CCC
$-disabled-bg-color := #F2F2F2
$-disabled-border-color := #CCC
// icon color
$-icon-default-color := #B2B2B2
// pend color
$-pend-color := #666
// box-shadow
$-box-shadow := 0 0 15px 0 rgba(0, 0, 0, 0.15);
// border-radius
$-border-radius := 4px
$-border-base-radius := 2px
// size arr
$-size-array = mini, small, default, large
/******************************
            Headers
*******************************/

$-header-font-family := 'PingFangSC-Medium' !important
$-header-margin := 0
$-header-font-weight := bold
$-h1 := 36px
$-h2 := 30px
$-h3 := 24px
$-h4 := 18px
$-h5 := 14px
$-h6 := 12px

/******************************
            Link
*******************************/

$-link-color := $-primary-color
$-link-underline := none
$-link-hover-color := palette($-link-color, -1)
$-link-hover-underline := $-link-underline
$-link-font-family := $-font-family

/******************************
            Code
*******************************/

$-code-font-family := Consolas, Menlo, Courier, monospace

/******************************
            Transition
*******************************/

$-transition := .25s ease-in-out

/******************************
            Spin
*******************************/

$-spin-color := $-primary-color
$-spin-width := unit(40 / 14, rem)
$-spin-stroke-width := 6

// size
$-spin-large-width := unit(48 / 14, rem)
$-spin-small-width := unit(32 / 14, rem)
$-spin-mini-width := unit(24 / 14, rem)

// font size
$-icon-default-font-size := unit(16 / 14, rem)
$-icon-large-font-size := unit(18 / 14, rem)
$-icon-small-font-size := unit(14 / 14, rem)
$-icon-mini-font-size := unit(12 / 14, rem)


/******************************
        ButtonGroup Button
*******************************/
//btn disabled
$-btn-disabled-color := $-border-base-color
$-btn-disabled-bg-color := $-disabled-bg-color
$-btn-disabled-border-color := $-disabled-border-color

//btn default
$-btn-default-border-color := $-border-base-color
$-btn-default-bg := #fff
$-btn-default-color := $-text-color
//type
$-btn-primary-color := $-primary-color
$-btn-success-color := $-success-color
$-btn-warning-color := $-warning-color
$-btn-danger-color := $-danger-color
//border
$-btn-border-radius := $-border-radius
$-btn-border-color := $-border-base-color
$-btn-default-border-style := solid
$-btn-dashed-border-style := dashed
//shape
$-btn-shape-round := 40px
$-btn-shape-circle := 50%
//size

$-btn-large-padding := $-large-padding
$-btn-large-circle-padding := 14px
$-btn-large-font-size := 14px

$-btn-default-padding := $-default-padding
$-btn-default-circle-padding := 12px
$-btn-default-font-size := $-font-base-size


$-btn-small-padding := $-small-padding
$-btn-small-circle-padding := 10px
$-btn-small-font-size := $-font-base-size

// $-btn-mini-padding := 8px 5px
// $-btn-mini-circle-padding := 8px
// $-btn-mini-font-size := 12px

//icon
$-btn-icon-text-gutter := $-icon-text-gutter

/******************************
        Switch
*******************************/
$-switch-active-bg := $-primary-color
$-switch-inactive-bg := $-disabled-color // #ccc
$-switch-disabled-bg := $-disabled-bg-color  // #e5e5e5
$-switch-disabled-font-color := $-disabled-color // #a7a5a5
$-switch-font-size := $-font-default-size
$-switch-border-width := 2px
$-switch-size-list = $-size-array

$-switch-mini-width := 24px
$-switch-small-width := 36px
$-switch-default-width := 48px
$-switch-large-width := 60px

$-switch-mini-height := 14px
$-switch-small-height := 18px
$-switch-default-height := 24px
$-switch-large-height := 30px

$-switch-mini-border-radius := $-switch-mini-height
$-switch-small-border-radius := $-switch-small-height
$-switch-default-border-radius := $-switch-default-height
$-switch-large-border-radius := $-switch-large-height


/******************************
        Input
*******************************/
$-input-color := $-text-light-color
$-input-placeholder-color := $-text-placeholder-color
$-input-default-width := 300px
$-input-border := 1px solid $-border-base-color
$-input-size-list = $-size-array
$-input-border-radius := $-border-base-radius
$-input-bg-color := $-light-bg-color
$-input-focus-border := 1px solid $-primary-color
// append && prepend
$-input-pend-color := $-pend-color
$-input-pend-padding-horizontal := 20px
$-input-prepend-radius := 2px 0 0 2px
$-input-append-radius := 0 2px 2px 0

$-input-mini-font-size := 12px
$-input-small-font-size := 12px
$-input-default-font-size := 14px
$-input-large-font-size := 16px

$-input-mini-inner-height := 26px
$-input-small-inner-height := 28px
$-input-default-inner-height := 32px
$-input-large-inner-height := 36px

$-input-disabled-color := $-disabled-color
$-input-disabled-border-color := $-disabled-border-color
$-input-disabled-background-color := $-disabled-bg-color

$-input-mini-padding-left-right := 16px
$-input-small-padding-left-right := 16px
$-input-default-padding-left-right := 16px
$-input-large-padding-left-right := 16px

$-input-mini-prefix-padding-left := 16px
$-input-small-prefix-padding-left := 16px
$-input-default-prefix-padding-left := 36px
$-input-large-prefix-padding-left := 16px

$-input-mini-suffix-padding-right := 16px
$-input-small-suffix-padding-right := 16px
$-input-default-suffix-padding-right := 36px
$-input-large-suffix-padding-right := 16px

// 状态颜色
$-input-status-list = $-size-array
$-input-success := $-success-color
$-input-success-border := 1px solid $-success-color
$-input-warning := $-warning-color
$-input-warning-border := 1px solid $-warning-color
$-input-err := $-danger-color
$-input-err-border := 1px solid $-danger-color
$-input-clear-color := $-icon-default-color

$-textarea-default-padding-top-bottom := 8px
$-textarea-count-font-size := $-font-second-size
$-textarea-count-bottom := 5px
$-textarea-count-right := 10px