@import './variables.styl';

/****************************
            Reset
*****************************/
body
    font-family $-font-family

html, body, div, p, ol, ui, li, dl, dt, dd, h1, h2, h3, h4, h5, h6
    margin 0
    padding 0

ul, ol, li
    list-style none

input
    -webkit-appearance none
    -moz-appearance none
    border none
    outline none

input:focus
select:focus
    outline none
::placeholder
    color $-text-placeholder-color

for type in 1 2 3 4 5
    h{type}
        font-size lookup('$-h' + type)
