
/******************************
             media
*******************************/
use('../../media.js')

/******************************
             Colors
*******************************/
$-white-color := #FFF
$-black-color := #000

/******************************
            Page
*******************************/
// let height be odd 20 / 14
$-line-height := 1
$-font-family := PingFangSC-Light, 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif
$-font-path := '../fonts';
// font size
$-font-large-size := 16px
$-font-default-size := 14px
$-font-small-size := 12px
$-font-mini-size := 12px
$-font-base-size := 14px
$-font-second-size := 12px
// font color
$-text-dark-color := #262626
$-text-light-color := #4C4C4C //主要正文颜色
$-text-list-color := #778088 //列表文字颜色
$-text-regular-color := #737373 //常规文字颜色
$-text-placeholder-color := #B2B2B2 //占位文字颜色
//theme color
$-primary-color := #557DFC
$-warning-color := #FF9A42
$-danger-color := #EF4E76
$-success-color := #38C482
// theme lighter color
$-primary-lighter-color := #7797FC
$-warning-lighter-color := #FFAF6B
$-danger-lighter-color := #F3839F
$-success-lighter-color := #5FCF9B
// theme darker color
$-primary-darker-color := #4464C9
$-warning-darker-color := #E58C3E
$-danger-darker-color := #A22334
$-success-darker-color := #33A36D
// border color
$-border-base-color := #CCC //主要边框
$-split-line-color := #E5E5E5 //区域分割线
// background color
$-light-bg-color := #FFF
$-bg-base-color := #fff //基础内容背景样式
$-table-header-bg-color := #F3F6FB //table,title等头部背景
$-table-content-bg-color := #F4F7FC //内容区
// disable color
$-disabled-color := #CCC
$-disabled-bg-color := #F2F2F2
$-disabled-border-color := #CCC
// icon color
$-icon-default-color := #B2B2B2
// pend color
$-pend-color := #666
// box-shadow
$-box-shadow := 0 0 15px 0 rgba(0, 0, 0, 0.15);
// border-radius
$-border-radius := 4px
$-border-base-radius := 2px
// size arr
$-size-array = mini, small, default, large
/******************************
        Headers
*******************************/

$-header-font-family := 'PingFangSC-Medium' !important
$-header-margin := 0
$-header-font-weight := bold
$-h1 := 36px
$-h2 := 30px
$-h3 := 24px
$-h4 := 18px
$-h5 := 14px
$-h6 := 12px

/******************************
        Link
*******************************/

$-link-color := $-primary-color
$-link-underline := none
$-link-hover-color := palette($-link-color, -1)
$-link-hover-underline := $-link-underline
$-link-font-family := $-font-family

/******************************
        Code
*******************************/

$-code-font-family := Consolas, Menlo, Courier, monospace

/******************************
        Transition
*******************************/

$-transition := .25s ease-in-out

/******************************
        Spin
*******************************/

$-spin-color := $-primary-color
$-spin-width := 40px
$-spin-stroke-width := 6

// spinner size
$-spin-large-width := 48px
$-spin-default-width := 40px
$-spin-small-width := 32px
$-spin-mini-width := 24px

// font size
$-spin-large-font-size := 18px
$-spin-default-font-size := 16px
$-spin-small-font-size := 14px
$-spin-mini-font-size := 12px


/******************************
        ButtonGroup Button
*******************************/
//btn disabled
$-btn-type := 'default'
$-btn-disabled-color := $-border-base-color
$-btn-disabled-bg-color := $-disabled-bg-color
$-btn-disabled-border-color := $-disabled-border-color

$-btn-default-border-color := $-border-base-color
$-btn-default-bg := #fff
$-btn-default-color := $-black-color

$-btn-default-hover-color := #557DFC
$-btn-default-hover-border-color := #557DFC
$-btn-default-hover-bg-color := #fff
$-btn-default-active-color :=  #4165D7
$-btn-default-active-bg-color :=  #E5ECFF
$-btn-default-active-border-color :=  #557DFC

$-btn-hollow-hover-color :=  #557DFC
$-btn-hollow-hover-border-color :=  #557DFC
$-btn-hollow-active-color :=  #4165D7 

$-btn-primary-hover-bg := #7999FF
$-btn-primary-hover-border := #7999FF
$-btn-primary-active-bg := #557DFC
$-btn-primary-active-border := #557DFC

$-btn-success-hover-bg := #5ED79E 
$-btn-success-hover-border := #5ED79E 
$-btn-success-active-bg := #39B67A
$-btn-success-active-border := #39B67A

$-btn-warning-hover-bg := #FFAF6A
$-btn-warning-hover-border := #FFAF6A
$-btn-warning-active-bg := #F68E35
$-btn-warning-active-border := #F68E35

$-btn-danger-hover-bg := #FF7F91
$-btn-danger-hover-border := #FF7F91
$-btn-danger-active-bg := #CB2C42
$-btn-danger-active-border := #CB2C42

$-btn-hollow-primary-hover-bg := #e5edff
$-btn-hollow-primary-active-bg := #557DFC
$-btn-hollow-success-hover-bg := #e5fff1
$-btn-hollow-success-active-bg := #38C482
$-btn-hollow-warning-hover-bg := #fff0e5
$-btn-hollow-warning-active-bg := #e5fff1
$-btn-hollow-danger-hover-bg := #ffe5ee
$-btn-hollow-danger-active-bg := #EF4E76

//type
$-btn-primary-color := $-primary-color
$-btn-success-color := $-success-color
$-btn-warning-color := $-warning-color
$-btn-danger-color := $-danger-color
$-btn-text-color := $-primary-color
$-btn-none-color := $-black-color

$-btn-text-hover-color := #7999FF
$-btn-text-active-color := #4165D7
$-btn-none-hover-color := #7999FF
$-btn-none-active-color := #4165D7

// group
$-btn-group-default-color := #fff
$-btn-group-default-hover-color := #fff
$-btn-group-default-active-color := #fff
$-btn-active-line-color := #7999FF
$-btn-active-color := #fff

//btn default
$-btn-default-padding := 9px 16px
$-btn-default-font-size := 12px

//loading
$-btn-stroke-width := 6
//split
$-btn-split-padding := 5px 10px

//border
$-btn-border-radius := $-border-radius
$-btn-border-color := $-border-base-color
$-btn-default-border-style := solid
$-btn-dashed-border-style := dashed
//shape
$-btn-shape-round := 40px
$-btn-shape-circle := 50%
//size

$-btn-large-padding := 13px 24px
$-btn-large-circle-padding := 14px
$-btn-large-font-size := 14px

$-btn-default-padding := 9px 16px
$-btn-default-circle-padding := 12px
$-btn-default-font-size := $-font-base-size

$-btn-small-padding := 7px 12px
$-btn-small-circle-padding := 8px
$-btn-small-font-size := 12px

$-btn-mini-padding := 5px 8px
$-btn-mini-circle-padding := 6px
$-btn-mini-font-size := 12px
//icon
$-btn-icon-text-gutter := 8px

$-btn-loading-r := 120 - 60 - ($-btn-stroke-width / 2)
$-btn-loading-c := round(2 * 3.14 * $-btn-loading-r)

$-btn-group-line-color := #7999FF
/******************************
        Radio
*******************************/
$-radio-width := 14px

$-radio-border-color := $-border-base-color
$-radio-bg-color := #fff
$-radio-content-bg-color := $-primary-color

// text
$-radio-text-margin-left := 8px
$-radio-text-color := $-text-light-color

// checked
$-radio-checked-border-color := $-primary-color
$-radio-inner-width := 8px
$-radio-checked-color := $-primary-color

// disabled
$-radio-disabled-color := $-disabled-color
$-radio-disabled-border-color := $-disabled-border-color
$-radio-disabled-bg-color := $-disabled-bg-color
$-radio-disabled-inner-color := $-disabled-color
/******************************
        Switch
*******************************/
$-switch-active-bg := $-primary-color
$-switch-inactive-bg := $-disabled-color // #ccc
$-switch-disabled-bg := $-disabled-bg-color  // #e5e5e5
$-switch-disabled-font-color := $-disabled-color // #a7a5a5
$-switch-font-size := 14px
$-switch-border-width := $-border-base-radius
$-switch-size-list = $-size-array

$-switch-mini-width := 24px
$-switch-small-width := 36px
$-switch-default-width := 48px
$-switch-large-width := 60px

$-switch-mini-height := 14px
$-switch-small-height := 18px
$-switch-default-height := 24px
$-switch-large-height := 30px

$-switch-mini-border-radius := $-switch-mini-height
$-switch-small-border-radius := $-switch-small-height
$-switch-default-border-radius := $-switch-default-height
$-switch-large-border-radius := $-switch-large-height


/******************************
        Input
*******************************/
$-input-color := $-text-light-color
$-input-placeholder-color := $-text-placeholder-color
$-input-default-width := 300px
$-input-border := 1px solid $-border-base-color
$-input-size-list = $-size-array
$-input-border-radius := $-border-base-radius
$-input-bg-color := $-light-bg-color
$-input-focus-border := 1px solid $-primary-color
// append && prepend
$-input-pend-color := $-pend-color
$-input-pend-padding-horizontal := 20px
$-input-prepend-radius := 2px 0 0 2px
$-input-append-radius := 0 2px 2px 0

$-input-mini-font-size := $-font-mini-size
$-input-small-font-size := $-font-small-size
$-input-default-font-size := $-font-default-size
$-input-large-font-size := $-font-large-size

$-input-mini-inner-height := 26px
$-input-small-inner-height := 28px
$-input-default-inner-height := 32px
$-input-large-inner-height := 36px

$-input-disabled-color := $-disabled-color
$-input-disabled-border-color := $-disabled-border-color
$-input-disabled-background-color := $-disabled-bg-color

$-input-mini-padding-left-right := 16px
$-input-small-padding-left-right := 16px
$-input-default-padding-left-right := 16px
$-input-large-padding-left-right := 16px

$-input-mini-prefix-padding-left := 16px
$-input-small-prefix-padding-left := 16px
$-input-default-prefix-padding-left := 36px
$-input-large-prefix-padding-left := 16px

$-input-mini-suffix-padding-right := 16px
$-input-small-suffix-padding-right := 16px
$-input-default-suffix-padding-right := 36px
$-input-large-suffix-padding-right := 16px

// 状态颜色
$-input-status-list = $-size-array
$-input-success := $-success-color
$-input-success-border := 1px solid $-success-color
$-input-warning := $-warning-color
$-input-warning-border := 1px solid $-warning-color
$-input-err := $-danger-color
$-input-err-border := 1px solid $-danger-color
$-input-clear-color := $-icon-default-color

$-textarea-default-padding-top-bottom := 8px
$-textarea-count-font-size := $-font-second-size
$-textarea-count-bottom := 6px
$-textarea-count-right := 10px

/******************************
        checkbox
*******************************/
$-checkbox-input-width := 14px;
$-checkbox-input-height := 14px;
$-checkbox-font-size := $-font-default-size;
$-checkbox-default-input-border-color := $-border-base-color;
$-checkbox-default-input-background-color := $-light-bg-color;

$-checkbox-disabled-icon-color := $-border-base-color;
$-checkbox-disabled-input-border-color := $-border-base-color;
$-checkbox-disabled-input-background-color := $-disabled-bg-color;

$-checkbox-checked-icon-color := $-light-bg-color;
$-checkbox-checked-input-border-color := $-primary-color;
$-checkbox-checked-input-background-color := $-primary-color;

/******************************
        progressbar
*******************************/
$-progress-outBar-bgc := #ECECEC
$-progress-bar-marginRight := -58px
$-progress-bar-paddingRight := 50px
$-pregress-text-marginLeft := 16px

/******************************
        collapse
*******************************/
$-collapse-border := 1px solid $-split-line-color;
$-collapse-active-color := $-primary-color;
$-collapse-title-background-color := #F7FAFE;
$-collapse-content-background-color := #fff;
$-collapse-title-height := 42px;
$-collapse-padding := 24px;
$-collapse-concise-content-padding := 0 34px 24px;
$-collapse-disabled-color := $-disabled-color;

/******************************
        message
*******************************/
$-message-width := 400px;
$-message-content-line-height := 1.5;
$-message-font-size := $-font-small-size;
$-message-padding := 6px 14px 6px 20px;
$-message-border-radius := $-border-radius;
$-message-transition := $-transition;

$-message-default-font-color := $-text-regular-color;
$-message-success-font-color := $-success-color;
$-message-warning-font-color := $-warning-color;
$-message-error-font-color := $-danger-color;
$-message-info-font-color := $-primary-color;

$-message-default-background-color := #F0F0F3;
$-message-success-background-color := #DBFBEC;
$-message-warning-background-color := #FFECDC;
$-message-error-background-color := #FFE8EC;
$-message-info-background-color := #E5ECFF;

$-message-default-border-color := $-message-default-background-color;
$-message-success-border-color := $-message-success-background-color;
$-message-warning-border-color := $-message-warning-background-color;
$-message-error-border-color := $-message-error-background-color;
$-message-info-border-color := $-message-info-background-color;

/******************************
        pgination
*******************************/
$-pagination-default-font-size := 14px
$-pagination-font-size := $-pagination-default-font-size
// $pagination-gutter := unit(20 / 14, rem)
$-pagination-gutter := 10px

$-pagination-btn-border-radius := $-border-radius
// $pagination-btn-margin-right := unit(10 / 14, rem)
$-pagination-btn-margin-right := 10px

// size
$-pagination-large-font-size := 16px
$-pagination-large-btn-margin-right := $-pagination-btn-margin-right
$-pagination-small-font-size := 12px
$-pagination-small-btn-margin-right := unit(5 / 14, rem)
$-pagination-mini-font-size := 10px
$-pagination-mini-btn-margin-right := $-pagination-small-btn-margin-right

// goto
$-pagination-goto-width := unit(60 / 14, rem)
$-pagination-goto-margin := 0 unit(10 / 14, rem)
/******************************
        steps
*******************************/
$-steps-container-background-color := #fff //主题色
$-step-spot-done-background-color := #557DFC
$-step-spot-line-border-color := #E5E5E5
$-step-spot-line-background-color := transparent
$-step-spot-active-background-color := #557DFC ;
$-step-spot-default-background-color := #E5E5E5
$-step-line-background-color := #E5E5E5
$-step-line-active-background-color := #557DFC;
$-step-title-color := #4C4C4C
$-step-title-active-color := #262626
$-step-description-color :=   #B2B2B2
$-step-description-active-color := #4C4C4C
$-step-index-default-border-color := #ccc
$-step-index-default-color := #737373
$-step-index-active-border-color := transparent
$-step-index-active-background-color := #557DFC;
$-step-index-done-color := #557DFC
$-step-index-done-border-color := 2px solid #557DFC
$-step-index-done-background-color := #dbe1f5
$-step-simple-background-color := #F3F6FB
$-step-simple-border-color := #fff //和主题色保持一直
$-kd-step-simple-bgc := #f3f6fb
$-step-index-icon-color := #ccc
$-step-icon-active-color := #557dfc
$-step-icon-done-color := #557dfc
$-step-custom-status-error-border-color := 2px solid #ED3351
$-step-custom-status-error-background-color := #efcece
$-step-custom-status-error-color := #ED3351
$-step-custom-status-wait-background-color := transparent

/******************************
        breadcrumb
*******************************/
$-breadcrumb-item-text-color := #4c4c4c
$-breadcrumb-item-text-last-color := #262626
$-breadcrumb-item-link-color := #557dfc
$-breadcrumb-item-link-hover := #7797fc
$-breadcrumb-item-link-active := #4464c9

/******************************
         Tabs
*******************************/
$-tabs-color-active-bar := #557dfc
$-tabs-color-active := #557dfc
$-tabs-color-font := #4c4c4c
$-tabs-color-background := #ffffff
$-tabs-card-color-background := #ffffff
$-tabs-color-guanbi := #C0C7CC
$-tabs-after-backgroundColor := #e5e5e5
$-tabs-after-borderColor := #e5e5e5
$-tabs-after-borderColor-card := #e5e5e5
$-tabs-after-disabledColor := #ccc
$-tabs-large-backgroundColor := #F0F0F3
$-tabs-card-backgroundColor := #F3F4F7  
$-tabs-card-background := #F3F4F7  
$-kd-add-tab :=#e5e5e5
$-tabs-font-size := 14px

$-tabs-after-width :=100%
$-tabs-border-width := 1px

$-tabs-user-select :=none
/******************************
          Drawer
*******************************/
$-drawer-position = top , bottom , left , right

$-drawer-active-color := #4464c9
$-drawer-hover-color := #7797FC
$-drawer-mian-backgroundColor := #ffffff
$-drawer-trueButton-backgroundColor := #557DFC
$-drawer-trueButton-fontColor := #fff
$-drawer-closeButton-backgroundColor := #fff
$-drawer-closeButton-borderColor := #ccc
$-drawer-overlay-backgroundColor := #000
$-drawer-titleBorder-color := #E5E5E5
$-drawer-titleIcon-color := #ccc
$-drawer-footerBorder-color := #E5E5E5
$-drawer-txt-color := #262626

$-drawer-main-width := 100%
$-drawer-main-height := 100%

$-drawer-animation-time := .5s
/******************************
        Dialog
*******************************/
$-dialog-background-color := #fff
$-dialog-header-background-color := #fff
$-dialog-line-color := $-split-line-color
$-dialog-title-color := $-title-color
$-dialog-body-color := $-title-color
$-dialog-btn-border-color := #ccc
$-dialog-btn-default-background-color := transparent;
$-dialog-btn-default-color := $-text-default-color
$-dialog-btn-default-hover := #557dfc
$-dialog-btn-default-hover-background-color := transparent
$-dialog-btn-default-active :=  #e5ecff
$-dialog-btn-default-color-active := #4165d7
$-dialog-btn-default-active-background-color := #e5ecff
$-dialog-btn-primary-background-color := #557dfc;
$-dialog-btn-primary-border := none
$-dialog-btn-primary-hover := #7999ff;
$-dialog-btn-primary-active := #4165d7;
$-dialog-btn-disabled-background-color := #f2f2f2
$-dialog-btn-disabled-color := #ccc
$-dialog-icon-title-color := #404040
$-dialog-message-color := $-text-regular-color
$-dialog-confirm-title-color := $-title-color
$-dialog-confirm-tips-color := $-text-default-color
$-dialog-tips-title-color := #404040
$-dialog-tips-message-color := $-text-regular-color
$-dialog-scrollbar-background-color := #fff
$-dialog-scrollbar-thumb-color := #ccc

/******************************
        spinner
*******************************/
$-spinnter-border-color := $-border-base-color 
$-spinnter-disable-bg := #f2f2f2
$-spinnter-disable-color := #ccc
$-spinner-primary-color := $-primary-color
$-spinner-fill-bg := #fff
$-spinner-input-padding := 8

$-spinner-large-width := 160
$-spinner-default-width := 130
$-spinner-small-width := 100
$-spinner-mini-width := 85

$-spinner-large-input-padding := 10
$-spinner-default-input-padding := 8
$-spinner-small-input-padding := 6
$-spinner-mini-input-padding := 4

$-spinner-btn-large-height := 36
$-spinner-btn-default-height := 32
$-spinner-btn-small-height := 28
$-spinner-btn-mini-height := 26
$-spinner-border-color := $-border-base-color

/******************************
        Dropdown
*******************************/

$-dropdown-menu-bg := $-white-color
$-dropdown-menu-padding := 8px 0
$-dropdown-menu-margin := 5px 0

//item
$-dropdown-item-disabled-bg := $-disabled-color
$-dropdown-item-hover-bg := #F3F4F7
$-dropdown-item-dividedLine := #ccc
$-dropdown-item-disabled-hover := $-white-color

/******************************
        transfer
*******************************/
$-transfer-radius := $-border-radius
$-transfer-header-bg := $-table-header-bg-color
$-transfer-width := 198
$-transfer-row-height := 39
$-transfer-row-padding := 0 15px
$-transfer-filter-margin := 10px 15px
$-transfer-content-height := 290px
$-transfer-items-height := 32px
$-transfer-items-padding := 0 15px
$-tarnsfer-serach-width := 100%
$-transfer-btn-padding := 0 30px
$-transfer-btn-margin-left := 10px
$-transfer-btn-vertical-mr := 10px 0 0
$-transfer-footer-btn-padding := 4px 15px
$-transfer-footer-btn-margin := 15px