/******************************
             media
*******************************/
use('../../media.js')
/******************************
             Theme
*******************************/
$-font-family := PingFangSC-Light, 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif
$-font-path := '../fonts';
// font size
$-font-large-size := 16px
$-font-default-size := 14px
$-font-small-size := 12px
$-font-mini-size := 12px
$-font-base-size := 14px
$-font-second-size := 12px
// font color
$-text-dark-color := #FFF
$-text-light-color := #8D919B //主要正文颜色
$-text-list-color := #8D919B //列表文字颜色
$-text-regular-color := #FFFFFF //常规文字颜色
$-text-placeholder-color := #8D919B //占位文字颜色
//theme color
$-primary-linear-color := linear-gradient(180deg, #F8334C 0%, #4E284D 91%)
$-primary-color := #5399FF
$-warning-color := #FF9A42
$-danger-color := #ED3351
$-success-color := #38C482
// theme lighter color
$-primary-lighter-linear-color := linear-gradient(180deg, #E946E5 0%, #5F3D5E 91%)
$-primary-lighter-color := #75ADFF
$-warning-lighter-color := #FFAF6B
$-danger-lighter-color := #F05B73
$-success-lighter-color := #5FCF9B
// theme darker color
$-primary-lighter-linear-color := linear-gradient(180deg, #B8273C 0%, #3D1F3C 91%)
$-primary-darker-color := #427ACC
$-warning-darker-color := #E58C3E
$-danger-darker-color := #BD2840
$-success-darker-color := #33A36D
// border color
$-border-base-color := #525C77 //主要边框
$-split-line-color := #2F374F //区域分割线
// background color
$-light-bg-color := #2C314E
$-bg-base-color := #2C314E //基础内容背景样式
$-table-header-bg-color := #2C324D //table,title等头部背景
$-table-content-bg-color := #1E253D //内容区
// disable color
$-disabled-color := #4F576E
$-disabled-bg-color := #222A41
$-disabled-border-color := #2F374F
// icon color
$-icon-default-color := #4F576E
// pend color
$-pend-color := #FFF
// box-shadow
$-box-shadow := none
// border-radius
$-border-radius := 4px
$-border-base-radius := 2px
// size arr
$-size-array = mini, small, default, large
/******************************
            Headers
*******************************/

$-header-font-family := 'PingFangSC-Medium' !important
$-header-margin := 0
$-header-font-weight := bold
$-h1 := 36px
$-h2 := 30px
$-h3 := 24px
$-h4 := 18px
$-h5 := 14px
$-h6 := 12px

/******************************
            Link
*******************************/

$-link-color := $-primary-color
$-link-underline := none
$-link-hover-color := palette($-link-color, -1)
$-link-hover-underline := $-link-underline
$-link-font-family := $-font-family

/******************************
            Code
*******************************/

$-code-font-family := Consolas, Menlo, Courier, monospace

/******************************
            Transition
*******************************/

$-transition := .25s ease-in-out

/******************************
            Spin
*******************************/

$-spin-color := $-primary-color
$-spin-width := unit(40 / 14, rem)
$-spin-stroke-width := 6

// size
$-spin-large-width := unit(48 / 14, rem)
$-spin-small-width := unit(32 / 14, rem)
$-spin-mini-width := unit(24 / 14, rem)

// font size
$-icon-default-font-size := unit(16 / 14, rem)
$-icon-large-font-size := unit(18 / 14, rem)
$-icon-small-font-size := unit(14 / 14, rem)
$-icon-mini-font-size := unit(12 / 14, rem)


/******************************
        ButtonGroup Button
*******************************/
$-btn-type := 'gradient'
$-white-color := #fff
$-black-color := #000
$-btn-disabled-color := $-border-base-color
$-btn-disabled-bg-color := $-disabled-bg-color
$-btn-disabled-border-color := $-disabled-border-color

$-btn-default-border-color := #525C77
$-btn-default-bg := rgb(26,34,54)
$-btn-default-color := $-white-color

$-btn-default-hover-color := $-white-color
$-btn-default-hover-bg-color := #3D4660
$-btn-default-hover-border-color := #525C77

$-btn-default-active-color :=  #4165D7
$-btn-default-active-bg-color :=  #38425E
$-btn-default-active-border-color :=  #525C77

$-btn-hollow-hover-color := $-white-color
$-btn-hollow-hover-border-color := #525C77
$-btn-hollow-active-color := $-white-color

$-btn-primary-hover-bg := linear-gradient(180deg, #E8465D 0%, #603D5F 100%)
$-btn-primary-hover-border := $-border-base-color
$-btn-primary-active-bg := linear-gradient(180deg, #B8283C 0%, #3E203D 100%)
$-btn-primary-active-border := $-border-base-color

$-btn-success-hover-bg := #5ED79E
$-btn-success-hover-border := #5ED79E
$-btn-success-active-bg := #39B67A
$-btn-success-active-border := #39B67A

$-btn-warning-hover-bg := #FFAF6A
$-btn-warning-hover-border := #FFAF6A
$-btn-warning-active-bg := #F68E35
$-btn-warning-active-border := #F68E35

$-btn-danger-hover-bg := #FF7F91
$-btn-danger-hover-border := #FF7F91
$-btn-danger-active-bg := #CB2C42
$-btn-danger-active-border := #CB2C42

$-btn-hollow-primary-hover-bg := $-btn-primary-hover-bg
$-btn-hollow-primary-active-bg := $-btn-primary-active-bg
$-btn-hollow-success-hover-bg := #e5fff1
$-btn-hollow-success-active-bg := #38C482
$-btn-hollow-warning-hover-bg := #fff0e5
$-btn-hollow-warning-active-bg := #e5fff1
$-btn-hollow-danger-hover-bg := #ffe5ee
$-btn-hollow-danger-active-bg := #EF4E76

//type
$-btn-primary-color := linear-gradient(180deg, #F8334C 0%, #4E284D 91%)
$-btn-primary-border := transparent
$-btn-success-color := $-success-color
$-btn-warning-color := $-warning-color
$-btn-danger-color := $-danger-color
$-btn-text-color := $-primary-color
$-btn-none-color := #fff

$-btn-text-hover-color := #7999FF
$-btn-text-active-color := #4165D7
$-btn-none-hover-color := #7999FF
$-btn-none-active-color := #4165D7

// group
$-btn-group-default-color := #525C77
$-btn-group-default-hover-color := $-btn-primary-hover-bg
$-btn-group-default-active-color := $-btn-primary-active-bg
$-btn-active-line-color := $-btn-primary-active-bg
$-btn-active-color := #fff
//btn default
$-btn-default-padding := 9px 16px
$-btn-default-font-size := 12px

//loading
$-btn-stroke-width := 6
//split
$-btn-split-padding := 5px 10px

//border
$-btn-border-radius := $-border-radius
$-btn-border-color := $-border-base-color
$-btn-default-border-style := solid
$-btn-dashed-border-style := dashed
//shape
$-btn-shape-round := 40px
$-btn-shape-circle := 50%
//size

$-btn-large-padding := 13px 24px
$-btn-large-circle-padding := 14px
$-btn-large-font-size := 14px

$-btn-default-padding := 9px 16px
$-btn-default-circle-padding := 12px
$-btn-default-font-size := $-font-base-size

$-btn-small-padding := 7px 12px
$-btn-small-circle-padding := 8px
$-btn-small-font-size := 12px

$-btn-mini-padding := 5px 8px
$-btn-mini-circle-padding := 6px
$-btn-mini-font-size := 12px
//icon
$-btn-icon-text-gutter := 8px

$-btn-loading-r := 120 - 60 - ($-btn-stroke-width / 2)
$-btn-loading-c := round(2 * 3.14 * $-btn-loading-r)

$-btn-group-line-color := linear-gradient(180deg, #E8465D 0%, #603D5F 100%)
/******************************
        Radio
*******************************/
$-radio-width := 14px

$-radio-border-color := #525C77
$-radio-bg-color := #222A41
$-radio-content-bg-color := #fff

// text
$-radio-text-margin-left := 8px
$-radio-text-color := #fff

// checked
$-radio-checked-border-color := $-radio-border-color
$-radio-inner-width := 8px
$-radio-checked-color := #2F374F

// disabled
$-radio-disabled-color := #4f566d
$-radio-disabled-border-color := #4f566d
$-radio-disabled-bg-color := #222A41
$-radio-disabled-inner-color := #4f566d
/******************************
        Switch
*******************************/
$-switch-active-bg := $-primary-linear-color
$-switch-inactive-bg := $-disabled-color // #ccc
$-switch-disabled-bg := $-disabled-bg-color  // #e5e5e5
$-switch-disabled-font-color := $-disabled-color // #a7a5a5
$-switch-font-size := $-font-default-size
$-switch-border-width := 2px
$-switch-size-list = $-size-array

$-switch-mini-width := 24px
$-switch-small-width := 36px
$-switch-default-width := 48px
$-switch-large-width := 60px

$-switch-mini-height := 14px
$-switch-small-height := 18px
$-switch-default-height := 24px
$-switch-large-height := 30px

$-switch-mini-border-radius := $-switch-mini-height
$-switch-small-border-radius := $-switch-small-height
$-switch-default-border-radius := $-switch-default-height
$-switch-large-border-radius := $-switch-large-height


/******************************
        Switch
*******************************/
$-switch-active-bg := $-primary-lighter-linear-color
$-switch-inactive-bg := #525C77
$-switch-disabled-bg := $-disabled-bg-color
$-switch-disabled-font-color := $-disabled-color
$-switch-font-size := $-font-base-size
$-switch-border-width := $-border-base-radius
$-switch-size-list = $-size-array

$-switch-mini-width := 24px
$-switch-small-width := 36px
$-switch-default-width := 48px
$-switch-large-width := 60px

$-switch-mini-height := 14px
$-switch-small-height := 18px
$-switch-default-height := 24px
$-switch-large-height := 30px

$-switch-mini-border-radius := $-switch-mini-height
$-switch-small-border-radius := $-switch-small-height
$-switch-default-border-radius := $-switch-default-height
$-switch-large-border-radius := $-switch-large-height

/******************************
        Input
*******************************/
$-input-color := $-text-light-color
$-input-placeholder-color := $-text-placeholder-color
$-input-default-width := 300px
$-input-border := 1px solid $-border-base-color
$-input-size-list = $-size-array
$-input-border-radius := $-border-base-radius
$-input-bg-color := $-light-bg-color
$-input-focus-border := 1px solid $-primary-color
// append && prepend
$-input-pend-color := $-pend-color
$-input-pend-padding-horizontal := 20px
$-input-prepend-radius := 2px 0 0 2px
$-input-append-radius := 0 2px 2px 0

$-input-mini-font-size := $-font-mini-size
$-input-small-font-size := $-font-small-size
$-input-default-font-size := $-font-default-size
$-input-large-font-size := $-font-large-size

$-input-mini-inner-height := 26px
$-input-small-inner-height := 28px
$-input-default-inner-height := 32px
$-input-large-inner-height := 36px

$-input-disabled-color := $-disabled-color
$-input-disabled-border-color := $-disabled-border-color
$-input-disabled-background-color := $-disabled-bg-color

$-input-mini-padding-left-right := 16px
$-input-small-padding-left-right := 16px
$-input-default-padding-left-right := 16px
$-input-large-padding-left-right := 16px

$-input-mini-prefix-padding-left := 16px
$-input-small-prefix-padding-left := 16px
$-input-default-prefix-padding-left := 36px
$-input-large-prefix-padding-left := 16px

$-input-mini-suffix-padding-right := 16px
$-input-small-suffix-padding-right := 16px
$-input-default-suffix-padding-right := 36px
$-input-large-suffix-padding-right := 16px

// 状态颜色
$-input-status-list = $-size-array
$-input-success := $-success-color
$-input-success-border := 1px solid $-success-color
$-input-warning := $-warning-color
$-input-warning-border := 1px solid $-warning-color
$-input-err := $-danger-color
$-input-err-border := 1px solid $-danger-color
$-input-clear-color := $-icon-default-color

$-textarea-default-padding-top-bottom := 8px
$-textarea-count-font-size := $-font-second-size
$-textarea-count-bottom := 6px
$-textarea-count-right := 10px


/******************************
        checkbox
*******************************/
$-checkbox-input-width := 14px;
$-checkbox-input-height := 14px;
$-checkbox-font-size := $-font-default-size;
$-checkbox-default-input-border-color := $-border-base-color;
$-checkbox-default-input-background-color := $-light-bg-color;

$-checkbox-disabled-icon-color := $-border-base-color;
$-checkbox-disabled-input-border-color := $-disabled-border-color;
$-checkbox-disabled-input-background-color := $-disabled-bg-color;

$-checkbox-checked-icon-color := $-pend-color;
$-checkbox-checked-input-border-color := $-icon-default-color;
$-checkbox-checked-input-background-color := $-icon-default-color;

/******************************
        collapse
*******************************/
$-collapse-border := 1px solid $-split-line-color;
$-collapse-active-color := $-primary-color;
$-collapse-title-background-color := #2C324D;
$-collapse-content-background-color := $-disabled-bg-color;
$-collapse-title-height := 42px;
$-collapse-padding := 24px;
$-collapse-concise-content-padding := 0 34px 24px;
$-collapse-disabled-color := $-disabled-color;

/******************************
        message
*******************************/
$-message-width := 400px;
$-message-content-line-height := 1.5;
$-message-font-size := $-font-small-size;
$-message-padding := 6px 14px 6px 20px;
$-message-border-radius := $-border-radius;
$-message-transition := $-transition;

$-message-default-font-color := $-text-regular-color;
$-message-success-font-color := $-success-color;
$-message-warning-font-color := $-warning-color;
$-message-error-font-color := $-danger-color;
$-message-info-font-color := $-primary-color;

$-message-default-background-color := #373F57;
$-message-success-background-color := #274E4D;
$-message-warning-background-color := #654526;
$-message-error-background-color := #552B39;
$-message-info-background-color := #2E3A5F;

$-message-default-border-color := $-message-default-background-color;
$-message-success-border-color := $-message-success-background-color;
$-message-warning-border-color := $-message-warning-background-color;
$-message-error-border-color := $-message-error-background-color;
$-message-info-border-color := $-message-info-background-color;

/******************************
        steps
*******************************/
$-steps-container-background-color := #222A41 //主题色
$-step-spot-done-background-color := #ED3351
$-step-spot-line-border-color := #ED3351
$-step-spot-line-background-color := transparent
$-step-spot-active-background-color := #ED3351;
$-step-spot-default-background-color := #525C77
$-step-line-background-color := #525C77
$-step-line-active-background-color := #ED3351;
$-step-title-color := #fff
$-step-title-active-color := #fff
$-step-description-color :=  #8D919B
$-step-description-active-color := #8D919B
$-step-index-default-border-color := #525C77
$-step-index-default-color := #fff
$-step-index-active-border-color := transparent
$-step-index-active-background-color := linear-gradient(180deg, #F8334C 0%, #4E284D 100%);
$-step-index-done-color := #fff
$-step-index-done-border-color := none
$-step-index-done-background-color := linear-gradient(180deg, #F8334C 0%, #4E284D 100%);
$-step-simple-background-color := #2C324D
$-step-simple-border-color := #222A41 //和主题色保持一直
$-kd-step-simple-bgc := transparent
$-step-index-icon-color := #525C77
$-step-icon-active-color := #ED3351
$-step-icon-done-color := #ED3351
$-step-custom-status-error-border-color := none
$-step-custom-status-error-background-color := linear-gradient(180deg, #F8334C 0%, #4E284D 100%);
$-step-custom-status-error-color := #fff
$-step-custom-status-wait-background-color := transparent

/******************************
        breadcrumb
*******************************/
$-breadcrumb-item-text-color := #8d919b
$-breadcrumb-item-text-last-color := #fff
$-breadcrumb-item-link-color := #5399ff
$-breadcrumb-item-link-hover := #75adff
$-breadcrumb-item-link-active := #427ac

/******************************
         Tabs
*******************************/
$-tabs-color-active-bar := #ED3351
$-tabs-color-active := #ffffff
$-tabs-large-backgroundColor-active := #252D45
$-tabs-card-color-background :=linear-gradient(180deg, #F8334C 0%, #4E284D 91%)
$-tabs-color-background := #222A41
$-kd-add-tab :=#2d354d
$-tabs-color-font := #8D919B

$-tabs-after-backgroundColor := #2F374F;

$-tabs-color-guanbi := #C0C7CC

$-tabs-after-borderColor := transparent
$-tabs-after-disabledColor := #4F576E
$-tabs-large-backgroundColor := #2D354D
$-tabs-card-backgroundColor := #F3F4F7
$-tabs-card-background := #222a41
$-tabs-after-borderColor-card :=#525c77

$-tabs-font-size := 14px

$-tabs-after-width :=100%
$-tabs-border-width := 1px

$-tabs-user-select :=none

/******************************
          Drawer
*******************************/
$-drawer-position = top , bottom , left , right

$-drawer-active-color := #4464c9
$-drawer-hover-color := #7797FC
$-drawer-mian-backgroundColor := #222A41

$-drawer-trueButton-backgroundColor :=  linear-gradient(180deg, #F8334C 0%, #4E284D 91%)
$-drawer-trueButton-fontColor := #fff
$-drawer-closeButton-backgroundColor := #222A41
$-drawer-closeButton-borderColor := #525C77
$-drawer-closeButton-fontColor :=#ffffff

$-drawer-overlay-backgroundColor := #000
$-drawer-titleBorder-color := #2C314E
$-drawer-title-backgroundColor := #2C314E

$-drawer-titleIcon-color := #ccc
$-drawer-footerBorder-color := #2F374F
$-drawer-txt-color := #ffffff

$-drawer-main-width := 100%
$-drawer-main-height := 100%

$-drawer-animation-time := .5s
/******************************
        Dialog
*******************************/
$-dialog-background-color := #222A41
$-dialog-header-background-color := #2C314E
$-dialog-line-color := #2C314E
$-dialog-title-color := #fff
$-dialog-body-color := #fff
$-dialog-btn-disabled-color := #4F576E
$-dialog-icon-title-color := #fff
$-dialog-message-color := #8D919B
$-dialog-confirm-title-color := #fff
$-dialog-confirm-tips-color := #8D919B
$-dialog-tips-title-color := #fff
$-dialog-tips-message-color := #8D919B
$-dialog-scrollbar-background-color := #222A41
$-dialog-scrollbar-thumb-color := #2C314E

/******************************
        progressbar
*******************************/
$-progress-outBar-bgc :=  #2D354D
$-progress-bar-marginRight := -58px
$-progress-bar-paddingRight := 50px
$-pregress-text-marginLeft := 16px

/******************************
        spinner
*******************************/

$-spinner-fill-bg := #2c314e
$-spinner-border-color := $-border-base-color
$-spinnter-disable-bg := #222A41
$-spinnter-disable-color := #2f374f
$-spinner-primary-color := $-primary-color
$-spinner-input-padding := 8

$-spinner-large-width := 160
$-spinner-default-width := 130
$-spinner-small-width := 100
$-spinner-mini-width := 85

$-spinner-large-input-padding := 10
$-spinner-default-input-padding := 8
$-spinner-small-input-padding := 6
$-spinner-mini-input-padding := 4

$-spinner-btn-large-height := 36
$-spinner-btn-default-height := 32
$-spinner-btn-small-height := 28
$-spinner-btn-mini-height := 26

/******************************
        slider
*******************************/
$-slider-height ?= 4px
$-slider-bg-color ?= #2F374F
$-slider-bar-color ?= #ED3351

$-transition = $-animation-duration-base $-ease-in-out
$-slider-border-radius ?= 100px
$-slider-handle-height ?= 8px
$-slider-handle-width ?= $-slider-handle-height
$-slider-handle-border ?= 2px solid $-slider-bar-color
$-slider-handle-border-radius ?= 50%
$-slider-handle-bg-color ?= #fff
$-slider-handle-hover-transform ?= scale(1.5)
$-slider-handle-hover-bg-color ?= $-slider-bar-color
$-slider-handle-disabled-bg-color ?= #fff

$-slider-disabled-color = #999
$-slider-disabled-bg-color = #f7f7f7
// stop point
$-slider-stop-point-width ?= $-slider-height
$-slider-stop-point-height ?= $-slider-stop-point-width
// marks
$-slider-marks-height ?= 20px
$-slider-marks-margin-top ?= 10px
// other
$-slider-range-input-width ?= 146px
$-slider-input-width ?= 80px

/******************************
        tree
*******************************/
$-tree-node-bg-color ?= #2c324e

/******************************
        transfer
*******************************/
$-transfer-radius := $-border-radius
$-transfer-header-bg := $-table-header-bg-color
$-transfer-width := 198
$-transfer-row-height := 39
$-transfer-row-padding := 0 15px
$-transfer-filter-margin := 10px 15px
$-transfer-content-height := 290px
$-transfer-items-height := 32px
$-transfer-items-padding := 0 15px
$-tarnsfer-serach-width := 100%
$-transfer-btn-padding := 0 30px
$-transfer-btn-margin-left := 10px
$-transfer-btn-vertical-mr := 10px 0 0
$-transfer-footer-btn-padding := 4px 15px
$-transfer-footer-btn-margin := 15px

/******************************
        Dropdown
*******************************/

$-dropdown-menu-bg := $-white-color
$-dropdown-menu-padding := 8px 0
$-dropdown-menu-margin := 5px 0

//item
$-dropdown-item-disabled-bg := $-disabled-color
$-dropdown-item-hover-bg := #F3F4F7
$-dropdown-item-dividedLine := #ccc
$-dropdown-item-disabled-hover := $-white-color
